<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.common.dao.LogApiDataDao">

	<insert id="LogDataInsertDao">
		insert into Log_Api_Data_tbl (
			crtfcKey, logDt, useSe,
			sysUser, conectIp, dataUsgqty
		)value(
			#{crtfcKey}, #{logDt}, #{useSe},
			#{sysUser}, #{conectIp}, #{dataUsgqty}
		)
	</insert>
	
	<select id="LogDataSelectDao" resultType="com.busience.common.dto.LogApiDataDto">
		SELECT logDt, useSe, sysUser
		FROM Log_Api_Data_tbl
		where sysUser = #{sysUser}
		order by logNo DESC limit 1
	</select>

</mapper>