<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.common.dao.ProductionDao">
	<select id="selectWorkOrderDao" resultType="com.busience.productionLX.dto.WorkOrderDto">
		SELECT A.WorkOrder_ONo, A.WorkOrder_itemCode, A.WorkOrder_EquipCode, B.CHILD_TBL_TYPE
			FROM WorkOrder_tbl A
			inner join DTL_TBL B on A.WorkOrder_WorkStatus = B.CHILD_TBL_NO
			where A.WorkOrder_EquipCode = #{equip} and B.CHILD_TBL_NO = '244'
	</select>
	
	<update id="updateWorkOrderDao">
		update WorkOrder_tbl
			set
			WorkOrder_ProductionQty = WorkOrder_ProductionQty + #{PRODUCTION_Volume}
			<if test="WorkOrder_Status == 'true'">
			<![CDATA[
				,
				WorkOrder_CompleteTime = 
					case
						when WorkOrder_ProductionQty >= WorkOrder_AllottedQty then now() else null
					end,
				WorkOrder_WorkStatus = 
					case
						when WorkOrder_ProductionQty >= WorkOrder_AllottedQty then '245' else WorkOrder_WorkStatus
					end
			]]>
			</if>
			where WorkOrder_ONo = #{PRODUCTION_WorkOrder_ONo} and WorkOrder_EquipCode = #{PRODUCTION_Equipment_Code}
	
	</update>
</mapper>