.container-bs{
	display: grid;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		"header"
		"main";
	height: 100vh;
}
.global-header{
	grid-area: header;
	display: flex;
	justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.global-header .header-barcode{
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: space-around;
    align-items: center;
	background-color: rgb(68,114,196);
	font-size: calc(1vh + 0.5vw);
}
.global-header .header-barcode label{
	color: white;
}
.global-header .header-barcode input{
	width: 40%;
}
.global-header .title{
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: space-around;
    align-items: center;
    
    font-size: calc(3vh + 0.5vw);
	color: white;
	background-color: rgb(112,173,70);
}
.global-header .header-space{
	width: 21.5%;
}
.global-header #fullScreenBtn{
	font-weight: bold;
	font-size: 3vh;
	color: rgb(51,13,97);
	border: solid rgb(51,13,97);
	border-radius: 10px;
	cursor: pointer;
}
.main{
	grid-area: main;
    padding: 5px;
}

.main-box{
	background-color: rgb(82,153,217);
    height: 100%;
    width: 100%;
	display: flex;
	justify-content: space-around;
}

.main-box .item{
	display: flex;
	justify-content: space-around;
    align-items: center;
	
	margin: 5px;
}
.main-box .item label{
	width: 35%;
	text-align-last: justify;
}
.main-box .item input{
	width: 60%;
}

.side-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-container{
	margin: 10px;
	width: 100%;
}

.tablet-border{
	border-radius: 20px;
	border: solid #333;
}

.tablet-Table{
	font-size: calc(0.63vw);
}

.redTest{
	border: solid 4px red;
}