<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.qc.dao.ItemPackingInspectDao">

	<select id="itemPackingInspectListDao" resultType="com.busience.qc.dto.ItemPackingInspectDto">
		select iit.*, pit.Product_Item_Name as ItemPack_Inspect_ItemName, 
			dt.Child_TBL_Type as ItemPack_Inspect_Worker_Name, date(iit.ItemPack_Inspect_Date) ItemPack_Inspect_Date
		from ItemPack_Inspect_tbl iit
		inner join Product_Info_tbl pit on iit.ItemPack_Inspect_ItemCode = pit.Product_Item_Code
		inner join DTL_TBL dt on iit.ItemPack_Inspect_Worker = dt.Child_TBL_No
		where ItemPack_Inspect_LotNo = #{LotNo}
	</select>
	
	<select id="itemPackingInspectSearchDao" resultType="com.busience.qc.dto.ItemPackingInspectDto">
		SELECT distinct iit.ItemPack_Inspect_LotNo, iit.ItemPack_Inspect_ItemCode, iit.ItemPack_Inspect_Qty, iit.ItemPack_Inspect_Date, pit.Product_Item_Name AS ItemPack_Inspect_ItemName, pit.Product_Info_STND_1 AS ItemPack_Inspect_STND_1,
			dt.Child_TBL_Type AS ItemPack_Inspect_Item_Clsfc_1, dt2.Child_TBL_Type AS ItemPack_Inspect_Item_Clsfc_2,
			dt3.Child_TBL_Type AS ItemPack_Inspect_Item_Material, dt4.Child_TBL_Type ItemPack_Inspect_Result
		FROM ItemPack_Inspect_tbl iit
		INNER JOIN Product_Info_tbl pit ON iit.ItemPack_Inspect_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		left outer join DTL_TBL dt4 ON iit.ItemPack_Inspect_Result = dt4.Child_TBL_No
		<![CDATA[
		WHERE iit.ItemPack_Inspect_Date >= #{startDate} AND iit.ItemPack_Inspect_Date < #{endDate}
		]]>
		AND iit.ItemPack_Inspect_LotNo LIKE CONCAT('%',#{LotNo},'%')
		AND iit.ItemPack_Inspect_ItemCode LIKE CONCAT('%',#{ItemCode},'%')	
	</select>

	<insert id="itemPackingInspectInsertDao">
		insert into ItemPack_Inspect_tbl (
			ItemPack_Inspect_Number, ItemPack_Inspect_LotNo, ItemPack_Inspect_ItemCode,
			ItemPack_Inspect_Qty, ItemPack_Inspect_Color, ItemPack_Inspect_Date,
			ItemPack_Inspect_Worker, ItemPack_Inspect_Value_1, ItemPack_Inspect_Value_2,
			ItemPack_Inspect_Value_3, ItemPack_Inspect_Value_4, ItemPack_Inspect_Value_5,
			ItemPack_Inspect_STND_1, ItemPack_Inspect_STND_2, ItemPack_Inspect_Status,
			ItemPack_Inspect_Result, ItemPack_Inspect_Package_Status,
			ItemPack_Inspect_Box_Status, ItemPack_Inspect_Packing_Unit,
			ItemPack_Inspect_Unit_1
		) values (
			#{ItemPack_Inspect_Number}, #{ItemPack_Inspect_LotNo}, #{ItemPack_Inspect_ItemCode},
			#{ItemPack_Inspect_Qty}, #{ItemPack_Inspect_Color}, now(),
			#{ItemPack_Inspect_Worker}, #{ItemPack_Inspect_Value_1}, #{ItemPack_Inspect_Value_2},
			#{ItemPack_Inspect_Value_3}, #{ItemPack_Inspect_Value_4}, #{ItemPack_Inspect_Value_5},
			#{ItemPack_Inspect_STND_1}, #{ItemPack_Inspect_STND_2}, #{ItemPack_Inspect_Status},
			#{ItemPack_Inspect_Result}, #{ItemPack_Inspect_Package_Status},
			#{ItemPack_Inspect_Box_Status}, #{ItemPack_Inspect_Packing_Unit},
			#{ItemPack_Inspect_Unit_1}
		) on duplicate key update
		ItemPack_Inspect_Qty = #{ItemPack_Inspect_Qty}, ItemPack_Inspect_Color = #{ItemPack_Inspect_Color},
		ItemPack_Inspect_Date = now(), ItemPack_Inspect_Worker = #{ItemPack_Inspect_Worker},
		ItemPack_Inspect_Value_1 = #{ItemPack_Inspect_Value_1}, ItemPack_Inspect_Value_2 = #{ItemPack_Inspect_Value_2},
		ItemPack_Inspect_Value_3 = #{ItemPack_Inspect_Value_3}, ItemPack_Inspect_Value_4 = #{ItemPack_Inspect_Value_4},
		ItemPack_Inspect_Value_5 = #{ItemPack_Inspect_Value_5}, ItemPack_Inspect_STND_1 = #{ItemPack_Inspect_STND_1},
		ItemPack_Inspect_STND_2 = #{ItemPack_Inspect_STND_2}, ItemPack_Inspect_Status = #{ItemPack_Inspect_Status},
		ItemPack_Inspect_Result = #{ItemPack_Inspect_Result}, ItemPack_Inspect_Package_Status = #{ItemPack_Inspect_Package_Status},
		ItemPack_Inspect_Box_Status = #{ItemPack_Inspect_Box_Status}, ItemPack_Inspect_Packing_Unit = #{ItemPack_Inspect_Packing_Unit},
		ItemPack_Inspect_Unit_1 = #{ItemPack_Inspect_Unit_1}
	</insert>
</mapper>