<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.qc.dao.OQCInspectDao">
	<insert id="oqcInspectInsertDao">
		insert into OQC_Inspect_tbl (
			OQC_Inspect_Number, OQC_Inspect_LotNo, OQC_Inspect_ItemCode,
			OQC_Inspect_Qty, OQC_Inspect_Customer, OQC_Inspect_Date,
			OQC_Inspect_Worker, OQC_Inspect_Value_1, OQC_Inspect_Value_2,
			OQC_Inspect_Value_3, OQC_Inspect_Value_4, OQC_Inspect_Value_5,
			OQC_Inspect_Value_6, OQC_Inspect_Value_7, OQC_Inspect_Value_8,
			OQC_Inspect_Value_9, OQC_Inspect_Value_10, OQC_Inspect_STND_1,
			OQC_Inspect_STND_2, OQC_Inspect_Status, OQC_Inspect_Result,
			OQC_Inspect_Remark, OQC_Inspect_Packing_Unit
		) values (
			#{OQC_Inspect_Number}, #{OQC_Inspect_LotNo}, #{OQC_Inspect_ItemCode},
			#{OQC_Inspect_Qty}, #{OQC_Inspect_Customer}, now(),
			#{OQC_Inspect_Worker}, #{OQC_Inspect_Value_1}, #{OQC_Inspect_Value_2},
			#{OQC_Inspect_Value_3}, #{OQC_Inspect_Value_4}, #{OQC_Inspect_Value_5},
			#{OQC_Inspect_Value_6}, #{OQC_Inspect_Value_7}, #{OQC_Inspect_Value_8},
			#{OQC_Inspect_Value_9}, #{OQC_Inspect_Value_10}, #{OQC_Inspect_STND_1},
			#{OQC_Inspect_STND_2}, #{OQC_Inspect_Status}, #{OQC_Inspect_Result},
			#{OQC_Inspect_Remark}, #{OQC_Inspect_Packing_Unit}
		)
	</insert>



</mapper>	
