
.tg {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	word-break:break-all;
}

.formHeader {
	font-size: 13px;
	text-align: center;
	vertical-align: middle !important;
	border: 2px solid !important;
	padding: 7px !important;
	height: 5px;
}

.formHeader input{
	width: 95%;
	border: 1px solid black !important;
}

.tg td {
	font-size: 13px;
	text-align: center;
	vertical-align: middle !important;
	border: 2px solid black !important;
	padding: 7px !important;
	height: 5px;
}

.footer {
	text-align: center;
}

#stndpart {
	text-align: left !important;
}

#machineLine {
	width: 200px;
}

#oqcWorkerList {
	width: 190px;
}

#oqcOutMatQty {
	width: 80px;
	text-align: right;
}

#oqcQty {
	width: 80px;
	text-align: right;
}

#processLotNo {
	width: 170px;
}

select {
 height: 24px !important;	
}

.tg input{
	margin-left: -3px;
	width: 115%;
	resize: none;
	text-align: left !important;
}

.tg textarea{
	width: 100%;
	resize: none;
	text-align: left !important;
}

.machine {
	float: left;
	width: 10% !important;
}

#pageCounter {
	counter-reset: pageTotal;
}

#pageCounter span {
	counter-increment: pageTotal;
}

#pageNumbers {
	counter-reset: currentPage;
}

#pageNumbers div:before {
	counter-increment: currentPage;
	content: "Page " counter(currentPage) " of ";
}

#pageNumbers div:after {
	content: counter(pageTotal);
}
@media print {
    .printBtn {
        display: none;
    }
}