<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.sales.dao.SalesOutputOrderListDao">
<select id="salesOutputOrderListSelectDao" resultType="com.busience.sales.dto.SalesOutputOrderListDto">
	select solt.Sales_Output_Order_lNo,
		solt.Sales_Output_Order_lOrder_No,
		pit.PRODUCT_ITEM_NAME Sales_Output_Order_lName,
		solt.Sales_Output_Order_lCode,
		pit.PRODUCT_INFO_STND_1 Sales_Order_STND_1,
		solt.Sales_Output_Order_lQty,
		solt.Sales_Output_Order_lSum,
		solt.Sales_Output_Order_lUnit_Price,
		solt.Sales_Output_Order_lPrice,
		solt.Sales_Output_Order_lNot_Stocked,
		st.S_Qty Sales_Output_Order_SQty,
		solt.Sales_Output_Order_Send_Clsfc,
		solt.Sales_Output_Order_lInfo_Remark
	from Sales_Output_OrderList_tbl solt 
	inner join Product_Info_tbl pit on solt.Sales_Output_Order_lCode = pit.PRODUCT_ITEM_CODE
	left outer join Stock_tbl st on solt.Sales_Output_Order_lCode = st.S_ItemCode
	where Sales_Output_Order_lOrder_No = #{SalesOrderNo} and st.S_WareHouse='52'
	Order by Sales_Output_Order_lNo ASC
</select>
<insert id="salesOutputOrderListInsertDao">
	insert into Sales_Output_OrderList_tbl(
 		Sales_Output_Order_lNo,
 		Sales_Output_Order_lOrder_No,
 		Sales_Output_Order_lCode,
 		Sales_Output_Order_lQty,
 		Sales_Output_Order_lSum,
 		Sales_Output_Order_lUnit_Price,
 		Sales_Output_Order_lPrice,
 		Sales_Output_Order_lNot_Stocked,
 		Sales_Output_Order_Send_Clsfc,
 		Sales_Output_Order_lInfo_Remark
 		
 	) values (
 	
 		#{Sales_Output_Order_lNo},
 		#{Sales_Output_Order_lOrder_No},
		#{Sales_Output_Order_lCode},
		#{Sales_Output_Order_lQty},
		'0',
		#{Sales_Output_Order_lUnit_Price},
		#{Sales_Output_Order_lPrice},
		#{Sales_Output_Order_lQty},
		#{Sales_Output_Order_Send_Clsfc},
		#{Sales_Output_Order_lInfo_Remark}
		
 	) on duplicate key update 
 	Sales_Output_Order_lNo = #{Sales_Output_Order_lNo}, Sales_Output_Order_lQty = #{Sales_Output_Order_lQty}, 
 	Sales_Output_Order_lPrice = #{Sales_Output_Order_lPrice}, Sales_Output_Order_lNot_Stocked = #{Sales_Output_Order_lQty}, 
 	Sales_Output_Order_lInfo_Remark = #{Sales_Output_Order_lInfo_Remark}
</insert>
<update id="salesOutputOrderListUpdateDao">
	update Sales_Output_OrderList_tbl 
	set Sales_Output_Order_lSum = Sales_Output_Order_lSum + #{Sales_OutMat_Qty},
		Sales_Output_Order_lNot_Stocked = Sales_Output_Order_lNot_Stocked - #{Sales_OutMat_Qty},  
		Sales_Output_Order_Send_Clsfc = #{Sales_OutMat_Send_Clsfc}
	where Sales_Output_Order_lOrder_No = #{Sales_OutMat_Order_No}
		and Sales_Output_Order_lCode = #{Sales_OutMat_Code}
</update>

</mapper>
