<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.sales.dao.SalesOutputOrderMasterDao">
<select id="salesOutputOrderMasterSelectDao" resultType="com.busience.sales.dto.SalesOutputOrderMasterDto">
	SELECT
		A.Sales_Output_Order_mOrder_No,
		A.Sales_Output_Order_mCus_No,
		A.Sales_Output_Order_mCode,
		B.Cus_Name Sales_Output_Order_mName,
		A.Sales_Output_Order_mDate,
		A.Sales_Output_Order_mTotal,
		A.Sales_Output_Order_mDlvry_Date,
		A.Sales_Output_Order_mRemarks,
		A.Sales_Output_Order_mModifier,
		A.Sales_Output_Order_mModify_Date,
		A.Sales_Output_Order_mCheck
	FROM Sales_Output_OrderMaster_tbl A
	inner join Customer_tbl B on A.Sales_Output_Order_mCode = B.Cus_Code
	where A.Sales_Output_Order_mDate >= curdate()
</select>
<select id="salesOutputOrderNoCreateDao" resultType="String">
	select concat(
					#{Sales_Output_Order_mCode},'-',date_format(#{Sales_Output_Order_mDate},'%y%m%d'),'-',
					lpad(
						(select * from (
								<![CDATA[
								select count(*)+1 from Sales_Output_OrderMaster_tbl
								where Sales_Output_Order_mCode = #{Sales_Output_Order_mCode} and Sales_Output_Order_mDate >= curdate()) AA),
								]]>
						2,'0'))
</select>
<select id="salesOutputOrderListDao" resultType="com.busience.sales.dto.SalesOutputOrderMasterDto">
	SELECT
		somt.Sales_Output_Order_mOrder_No,
		somt.Sales_Output_Order_mCus_No,
		somt.Sales_Output_Order_mCode,
		ct.Cus_Name Sales_Output_Order_mName,
		somt.Sales_Output_Order_mDate,
		somt.Sales_Output_Order_mTotal,
		somt.Sales_Output_Order_mDlvry_Date,
		somt.Sales_Output_Order_mCheck,
		somt.Sales_Output_Order_mRemarks,
		somt.Sales_Output_Order_mModifier,
		somt.Sales_Output_Order_mModify_Date
	FROM Sales_Output_OrderMaster_tbl somt
	INNER JOIN Customer_tbl ct ON somt.Sales_Output_Order_mCode = ct.Cus_Code
<![CDATA[	
	WHERE somt.Sales_Output_Order_mDlvry_Date >= #{startDate} AND somt.Sales_Output_Order_mDlvry_Date < #{endDate}
]]>	
	<if test="ClientCode != null">
		and Sales_Output_Order_mCode like concat('%',#{ClientCode},'%')
	</if>
	<if test="SalesOrderNo != null">
		and Sales_Output_Order_mOrder_No like concat('%',#{SalesOrderNo},'%')
	</if>
	<if test='condition == "Y"'>
		and Sales_Output_Order_mCheck = 'Y'
	</if>
	<if test='condition == "N"'>
		and Sales_Output_Order_mCheck in ('I','N')
	</if>
	<if test='condition == "all"'>
	
	</if>
</select>
<!-- select 
		concat(
				#{Sales_Output_Order_mCode},'-',date_format(#{Sales_Output_Order_mDate},'%y%m%d'),'-',
				lpad(
					1+(select IFNULL(
								(select max(SUBSTRING_INDEX(#{Sales_Output_Order_mCus_No},'-',-1))
								FROM Sales_Output_OrderMaster_tbl
								where SUBSTRING_INDEX(#{Sales_Output_Order_mCus_No}, '-', 2) 
								= CONCAT(#{Sales_Output_Order_mCode},'-',DATE_FORMAT(#{Sales_Output_Order_mDate},'%y%m%d'))),0)
						),2,'0')
			   ) -->
<insert id="salesOutputOrderMasterInsertDao">
	INSERT INTO Sales_Output_OrderMaster_tbl (
 		Sales_Output_Order_mOrder_No, Sales_Output_Order_mCus_No, Sales_Output_Order_mCode,
 		Sales_Output_Order_mDate, Sales_Output_Order_mTotal, Sales_Output_Order_mDlvry_Date,
 		Sales_Output_Order_mRemarks, Sales_Output_Order_mModifier, Sales_Output_Order_mModify_Date
 		
 	) VALUES ( 
 	
 		#{Sales_Output_Order_mOrder_No}, #{Sales_Output_Order_mCus_No},
 		#{Sales_Output_Order_mCode}, #{Sales_Output_Order_mDate},
 		#{Sales_Output_Order_mTotal}, #{Sales_Output_Order_mDlvry_Date},
 		#{Sales_Output_Order_mRemarks}, #{Sales_Output_Order_mModifier}, now()
 		
 	) on duplicate key update
 		Sales_Output_Order_mTotal = #{Sales_Output_Order_mTotal},
 		Sales_Output_Order_mDlvry_Date = #{Sales_Output_Order_mDlvry_Date},
 		Sales_Output_Order_mRemarks = #{Sales_Output_Order_mRemarks},
 		Sales_Output_Order_mModifier =  #{Sales_Output_Order_mModifier},
 		Sales_Output_Order_mModify_Date = now()
</insert>

<update id="salesOutputOrderMasterUpdateDao">
	update Sales_Output_OrderMaster_tbl 
	set Sales_Output_Order_mCheck = 
		(select 
				(case 
						when sum(Sales_Output_Order_lNot_Stocked) = 0 then 'Y'
						when sum(Sales_Output_Order_lSum) = 0 then 'N' else 'I' end
				) 
		 from Sales_Output_OrderList_tbl 
		 where Sales_Output_Order_lOrder_No = #{Sales_Output_Order_mOrder_No}
		) 
	 where Sales_Output_Order_mOrder_No = #{Sales_Output_Order_mOrder_No};

</update>
</mapper>
