<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.salesLX.dao.SalesOutputDao">
<select id="salesOutMatNoCreateDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select count(*)+1 from Sales_OutMat_tbl
	where Sales_OutMat_Cus_No = #{Sales_OutMat_Cus_No} 
		and Sales_OutMat_Lot_No = #{Sales_OutMat_Lot_No}
</select>
<select id="salesOutMatSelectDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_No,
		somt.Sales_OutMat_Cus_No,
		somt.Sales_OutMat_Lot_No,
		somt.Sales_OutMat_Code,
		pit.Product_Item_Name Sales_OutMat_Name,
		somt.Sales_OutMat_Qty,
		somt.Sales_OutMat_Unit_Price,
		somt.Sales_OutMat_Price,
		somt.Sales_OutMat_Client_Code, 
		cut.Cus_Name Sales_OutMat_Client_Name,
		somt.Sales_OutMat_Send_Clsfc,
		somt.Sales_OutMat_Date 
		from Sales_OutMat_tbl somt 
		inner join Product_Info_tbl pit on somt.Sales_OutMat_Code = pit.Product_Item_Code
		inner join Customer_tbl cut on somt.Sales_OutMat_Client_Code = cut.Cus_Code
		where somt.Sales_OutMat_Cus_No = #{Sales_OutMat_Cus_No} 
		and somt.Sales_OutMat_Code = #{Sales_OutMat_Code}
		and somt.Sales_OutMat_Date >= curdate()
		order by somt.Sales_OutMat_No
</select>
<select id="salesOutMatSelectListDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_Lot_No, somt.Sales_OutMat_Date,
		dt.Child_TBL_Type Sales_OutMat_Send_Clsfc,
		somt.Sales_OutMat_Client_Code, ct.Cus_Name Sales_OutMat_Client_Name,
		somt.Sales_OutMat_Code, pit.Product_Item_Name Sales_OutMat_Name,
		pit.Product_Info_STND_1 Sales_OutMat_STND_1,
		dt3.Child_TBL_Type Sales_OutMat_Item_Clsfc_Name_1,
		dt2.Child_TBL_Type Sales_OutMat_UNIT,
		somt.Sales_OutMat_Qty, somt.Sales_OutMat_Cus_No,
		somt.Sales_OutMat_Modifier, somt.Sales_OutMat_dInsert_Time
	from Sales_OutMat_tbl somt 
	inner join DTL_TBL dt on somt.Sales_OutMat_Send_Clsfc = dt.CHILD_TBL_NO
	inner join Customer_tbl ct on somt.Sales_OutMat_Client_Code  = ct.Cus_Code
	inner join Product_Info_tbl pit on somt.Sales_OutMat_Code = pit.Product_Item_Code
	inner join DTL_TBL dt2 on pit.Product_Unit = dt2.CHILD_TBL_NO
	inner join DTL_TBL dt3 ON pit.Product_Item_CLSFC_1 = dt3.Child_TBL_No
	<![CDATA[
	where somt.Sales_OutMat_Date >= #{startDate} and somt.Sales_OutMat_Date < #{endDate} 
	]]>
	<if test="Sales_OutMat_Code != null">
		and somt.Sales_OutMat_Code like concat('%',#{Sales_OutMat_Code},'%')
	</if>
	<if test="Sales_OutMat_Client_Code != null">
		and somt.Sales_OutMat_Client_Code like concat('%',#{Sales_OutMat_Client_Code},'%')
	</if>
	<if test='Sales_OutMat_Send_Clsfc != "all"'>
		and somt.Sales_OutMat_Send_Clsfc = #{Sales_OutMat_Send_Clsfc}
	</if>
	<if test="Sales_OutMat_Lot_No != null">
		and somt.Sales_OutMat_Lot_No like concat('%',#{Sales_OutMat_Lot_No},'%')
	</if>
</select>
<select id="salesOutMatItemViewDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_Lot_No, somt.Sales_OutMat_Date,
		dt.Child_TBL_Type Sales_OutMat_Send_Clsfc,
		somt.Sales_OutMat_Client_Code, ct.Cus_Name Sales_OutMat_Client_Name,
		somt.Sales_OutMat_Code, pit.Product_Item_Name Sales_OutMat_Name,
		pit.Product_Info_STND_1 Sales_OutMat_STND_1,
		dt2.Child_TBL_Type Sales_OutMat_UNIT,
		dt3.Child_TBL_Type Sales_OutMat_Item_Clsfc_Name_1,
		sum(somt.Sales_OutMat_Qty) Sales_OutMat_Qty
	from Sales_OutMat_tbl somt 
	inner join DTL_TBL dt on somt.Sales_OutMat_Send_Clsfc = dt.Child_TBL_No
	inner join Customer_tbl ct on somt.Sales_OutMat_Client_Code  = ct.Cus_Code
	inner join Product_Info_tbl pit on somt.Sales_OutMat_Code = pit.Product_Item_Code
	inner join DTL_TBL dt2 on pit.Product_Unit = dt2.Child_TBL_No 
	inner join DTL_TBL dt3 ON pit.Product_Item_CLSFC_1 = dt3.Child_TBL_No
	<![CDATA[
	where somt.Sales_OutMat_Date >= #{startDate} and somt.Sales_OutMat_Date < #{endDate}
	]]>
	<if test="Sales_OutMat_Code != null">
		and somt.Sales_OutMat_Code like concat('%',#{Sales_OutMat_Code},'%')
	</if>
	<if test='Sales_OutMat_Send_Clsfc != "all"'>
		and somt.Sales_OutMat_Send_Clsfc = #{Sales_OutMat_Send_Clsfc}
	</if>
	group by somt.Sales_OutMat_Code, somt.Sales_OutMat_Date with ROLLUP
</select>
<select id="salesOutMatReturnSelectDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
    SELECT
 		A.Sales_OutMat_No, A.Sales_OutMat_Cus_No, A.Sales_OutMat_Lot_No,
 		A.Sales_OutMat_Code, sum(A.Sales_OutMat_Qty) Sales_OutMat_Qty,
 		A.Sales_OutMat_Unit_Price, A.Sales_OutMat_Price, B.Product_Item_Name Sales_OutMat_Name,
 		A.Sales_OutMat_Client_Code, C.Cus_Name Sales_OutMat_Client_Name,
 		A.Sales_OutMat_Send_Clsfc, D.CHILD_TBL_TYPE Sales_OutMat_Send_Clsfc_Name,
 		A.Sales_OutMat_Date, A.Sales_OutMat_dInsert_Time,
 		A.Sales_OutMat_Modifier
 	FROM Sales_OutMat_tbl A
 	inner join Product_Info_tbl B on A.Sales_OutMat_Code = B.Product_Item_Code
 	inner join Customer_tbl C on A.Sales_OutMat_Client_Code = C.Cus_Code
 	inner join DTL_TBL D on A.Sales_OutMat_Send_Clsfc = D.CHILD_TBL_NO
 	<![CDATA[
 	where A.Sales_OutMat_Date >= #{startDate} and A.Sales_OutMat_Date < #{endDate}
 	]]>
 	<if test="ItemCode != null">
 	and A.Sales_OutMat_Code like concat('%',#{ItemCode},'%')
 	</if>
 	<if test="ClientCode != null">
 	and A.Sales_OutMat_Client_Code like concat('%',#{ClientCode},'%')
 	</if>
 	group by A.Sales_OutMat_Cus_No, A.Sales_OutMat_Lot_No
 	having Sales_OutMat_Qty>0
</select>
<select id="salesOutMatReturnListDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	SELECT
 		A.Sales_OutMat_No, A.Sales_OutMat_Cus_No, A.Sales_OutMat_Lot_No,
 		A.Sales_OutMat_Code, A.Sales_OutMat_Qty sales_OutReturn_Qty,
 		A.Sales_OutMat_Unit_Price, A.Sales_OutMat_Price,
 		B.Product_Item_Name Sales_OutMat_Name, A.Sales_OutMat_Client_Code,
 		C.Cus_Name Sales_OutMat_Client_Name, A.Sales_OutMat_Send_Clsfc,
 		D.CHILD_TBL_TYPE Sales_OutMat_Send_Clsfc_Name, A.Sales_OutMat_Date,
 		A.Sales_OutMat_dInsert_Time, A.Sales_OutMat_Modifier
 	FROM Sales_OutMat_tbl A
 	inner join Product_Info_tbl B on A.Sales_OutMat_Code = B.Product_Item_Code
 	inner join Customer_tbl C on A.Sales_OutMat_Client_Code = C.Cus_Code
 	inner join DTL_TBL D on A.Sales_OutMat_Send_Clsfc = D.CHILD_TBL_NO
 	<![CDATA[
 	where A.Sales_OutMat_dInsert_Time >= #{startDate} and A.Sales_OutMat_dInsert_Time < #{endDate}
 	]]>
 	<if test="ItemCode != null">
 	and A.Sales_OutMat_Code like concat('%',#{ItemCode},'%')
 	</if>
 	<if test="ClientCode != null">
 	and A.Sales_OutMat_Client_Code like concat('%',#{ClientCode},'%')
 	</if>
 	and Sales_OutMat_Send_Clsfc = '213'
</select>
<select id="salesDeliveryCustomerViewDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_Lot_No, somt.Sales_OutMat_Date,
		dt.CHILD_TBL_TYPE Sales_OutMat_Send_Clsfc,
		somt.Sales_OutMat_Client_Code,
		ct.Cus_Name Sales_OutMat_Client_Name,
		somt.Sales_OutMat_Code,
		pit.PRODUCT_ITEM_NAME Sales_OutMat_Name,
		pit.PRODUCT_INFO_STND_1 Sales_OutMat_STND_1,
		dt2.CHILD_TBL_TYPE Sales_OutMat_UNIT,
		sum(somt.Sales_OutMat_Qty) Sales_OutMat_Qty,
		sum(somt.Sales_OutMat_Price) Sales_OutMat_Price
	from Sales_OutMat_tbl somt 
	inner join DTL_TBL dt on somt.Sales_OutMat_Send_Clsfc = dt.CHILD_TBL_NO
	inner join Customer_tbl ct on somt.Sales_OutMat_Client_Code  = ct.Cus_Code
	inner join Product_Info_tbl pit on somt.Sales_OutMat_Code = pit.PRODUCT_ITEM_CODE
	inner join DTL_TBL dt2 on pit.PRODUCT_UNIT = dt2.CHILD_TBL_NO
	<![CDATA[
	where somt.Sales_OutMat_Date >= #{startDate} and somt.Sales_OutMat_Date < #{endDate}
	]]>
	<if test="ClientCode != ''">
	and Sales_OutMat_Client_Code LIKE CONCAT('%',#{ClientCode},'%')
	</if>
	<if test="ItemSendClsfc != 'all'">
	and Sales_OutMat_Send_Clsfc = #{ItemSendClsfc}
	</if>
	group by somt.Sales_OutMat_Client_Code, somt.Sales_OutMat_Code with rollup
</select>
<select id="salesDeliveryList" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_No,
		somt.Sales_OutMat_Client_Code,
		ct.Cus_Name Sales_OutMat_Client_Name,
		sum(somt.Sales_OutMat_Qty) Sales_OutMat_Qty
	from Sales_OutMat_tbl somt 
	inner join Customer_tbl ct on somt.Sales_OutMat_Client_Code = ct.Cus_Code
	<![CDATA[
	where somt.Sales_OutMat_Date >= #{startDate} and somt.Sales_OutMat_Date < #{endDate}
	]]>
	group by Sales_OutMat_Client_Code
</select>
<select id="salesDeliveryCustomerDao" resultType="com.busience.salesLX.dto.Sales_OutMat_tbl">
	select 
		somt.Sales_OutMat_No,
		somt.Sales_OutMat_Cus_No, 
		somt.Sales_OutMat_Date,
		dt.CHILD_TBL_TYPE Sales_OutMat_Send_Clsfc_Name,
		somt.Sales_OutMat_Code,
		somt.Sales_OutMat_Client_Code,
		pit.PRODUCT_ITEM_NAME Sales_OutMat_Name,
		pit.PRODUCT_INFO_STND_1 Sales_OutMat_STND_1,
		dt2.CHILD_TBL_TYPE Sales_OutMat_UNIT,
		sum(somt.Sales_OutMat_Qty) Sales_OutMat_Qty,
		sum(somt.Sales_OutMat_Price) Sales_OutMat_Price 
	from Sales_OutMat_tbl somt 
	inner join DTL_TBL dt on somt.Sales_OutMat_Send_Clsfc = dt.CHILD_TBL_NO
	inner join Product_Info_tbl pit on somt.Sales_OutMat_Code = pit.PRODUCT_ITEM_CODE
	inner join DTL_TBL dt2 on pit.PRODUCT_UNIT = dt2.CHILD_TBL_NO
	<![CDATA[
	where somt.Sales_OutMat_Date >= #{startDate} and somt.Sales_OutMat_Date < #{endDate}
	]]>
	<if test="ClientCode != ''">
	and somt.Sales_OutMat_Client_Code like concat('%',#{ClientCode},'%') 
	</if>
	group by somt.Sales_OutMat_Code with rollup
</select>
<insert id="salesOutMatInsertDao">
	insert into Sales_OutMat_tbl( 
		Sales_OutMat_No, Sales_OutMat_Cus_No, Sales_OutMat_Lot_No, 
		Sales_OutMat_Code, Sales_OutMat_Qty, Sales_OutMat_Unit_Price, 
		Sales_OutMat_Price, Sales_OutMat_Client_Code, 
		Sales_OutMat_Send_Clsfc, Sales_OutMat_Date,
		Sales_OutMat_dInsert_Time, Sales_OutMat_Modifier
		
		) values ( 
		
		(SELECT ifnull(max(AA.Sales_OutMat_No)+1,1) FROM Sales_OutMat_tbl AA WHERE AA.Sales_OutMat_Cus_No = #{Sales_OutMat_Cus_No}), 
		#{Sales_OutMat_Cus_No}, #{Sales_OutMat_Lot_No}, #{Sales_OutMat_Code}, 
		#{Sales_OutMat_Qty}, #{Sales_OutMat_Unit_Price}, 
		#{Sales_OutMat_Qty} * #{Sales_OutMat_Unit_Price}, #{Sales_OutMat_Client_Code}, 
		#{Sales_OutMat_Send_Clsfc}, #{Sales_OutMat_Date}, 
		now(), #{Sales_OutMat_Modifier}
		
		)	
</insert>

</mapper>
