<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.salesLX.dao.SalesOutputOrderMasterDao">
<select id="salesOutputOrderMasterSelectDao" resultType="com.busience.salesLX.dto.SalesOutputOrderMasterDto">
	SELECT
		A.Sales_Output_Order_mOrder_No,
		A.Sales_Output_Order_mCus_No,
		A.Sales_Output_Order_mCode,
		B.Cus_Name Sales_Output_Order_mName,
		A.Sales_Output_Order_mDate,
		A.Sales_Output_Order_mTotal,
		A.Sales_Output_Order_mDlvry_Date,
		A.Sales_Output_Order_mRemarks,
		A.Sales_Output_Order_mModifier,
		A.Sales_Output_Order_mModify_Date,
		A.Sales_Output_Order_mCheck
	FROM Sales_Output_OrderMaster_tbl A
	inner join Customer_tbl B on A.Sales_Output_Order_mCode = B.Cus_Code
	where A.Sales_Output_Order_mDate >= curdate()
</select>
<select id="salesOutputOrderNoCreateDao" resultType="String">
	select concat(
					#{Sales_Output_Order_mCode},'-',date_format(#{Sales_Output_Order_mDate},'%y%m%d'),'-',
					lpad(
						(select * from (
								<![CDATA[
								select count(*)+1 from Sales_Output_OrderMaster_tbl
								where Sales_Output_Order_mCode = #{Sales_Output_Order_mCode} and Sales_Output_Order_mDate >= curdate()) AA),
								]]>
						2,'0'))
</select>
<!-- select 
		concat(
				#{Sales_Output_Order_mCode},'-',date_format(#{Sales_Output_Order_mDate},'%y%m%d'),'-',
				lpad(
					1+(select IFNULL(
								(select max(SUBSTRING_INDEX(#{Sales_Output_Order_mCus_No},'-',-1))
								FROM Sales_Output_OrderMaster_tbl
								where SUBSTRING_INDEX(#{Sales_Output_Order_mCus_No}, '-', 2) 
								= CONCAT(#{Sales_Output_Order_mCode},'-',DATE_FORMAT(#{Sales_Output_Order_mDate},'%y%m%d'))),0)
						),2,'0')
			   ) -->
<insert id="salesOutputOrderMasterInsertDao">
	INSERT INTO Sales_Output_OrderMaster_tbl (
 		Sales_Output_Order_mOrder_No, Sales_Output_Order_mCus_No, Sales_Output_Order_mCode,
 		Sales_Output_Order_mDate, Sales_Output_Order_mTotal, Sales_Output_Order_mDlvry_Date,
 		Sales_Output_Order_mRemarks, Sales_Output_Order_mModifier, Sales_Output_Order_mModify_Date
 		
 	) VALUES ( 
 	
 		#{Sales_Output_Order_mOrder_No}, #{Sales_Output_Order_mCus_No},
 		#{Sales_Output_Order_mCode}, #{Sales_Output_Order_mDate},
 		#{Sales_Output_Order_mTotal}, #{Sales_Output_Order_mDlvry_Date},
 		#{Sales_Output_Order_mRemarks}, #{Sales_Output_Order_mModifier}, now()
 		
 	) on duplicate key update
 		Sales_Output_Order_mTotal = #{Sales_Output_Order_mTotal},
 		Sales_Output_Order_mDlvry_Date = #{Sales_Output_Order_mDlvry_Date},
 		Sales_Output_Order_mRemarks = #{Sales_Output_Order_mRemarks},
 		Sales_Output_Order_mModifier =  #{Sales_Output_Order_mModifier},
 		Sales_Output_Order_mModify_Date = now()
</insert>
</mapper>
