<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.sales.dao.SalesPackingDao">
	<select id="salesPackingNoCreateDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT COUNT(*)+1 Sales_Packing_No FROM Sales_Packing_tbl
		WHERE Sales_Large_Packing_LotNo = #{Sales_Large_Packing_LotNo} 
	</select>
	
	<select id="salesPackingListSelectDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT spt.Sales_Packing_No, spt.Sales_Small_Packing_LotNo, spt.Sales_Packing_Qty, lmt.LM_ItemCode as Sales_Packing_Code, pit.Product_Item_Name as Sales_Packing_Name, lmt.LM_Create_Date as Sales_Small_Create_Date
		FROM Sales_Packing_tbl spt
		INNER JOIN LotMaster_tbl lmt ON spt.Sales_Small_Packing_LotNo = lmt.LM_LotNo
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		WHERE spt.Sales_Large_Packing_LotNo = #{LotNo}
		AND spt.Sales_Packing_Status = '203'
	</select>
	
	<select id="salesInMatReturnSelectDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT spt.Sales_Packing_No, spt.Sales_Large_Packing_LotNo, spt.Sales_Small_Packing_LotNo, spt.Sales_Packing_Qty, lmt.LM_ItemCode as Sales_Packing_Code, pit.Product_Item_Name as Sales_Packing_Name, lmt.LM_Create_Date as Sales_Small_Create_Date, 
			pit.Product_Item_Name AS Sales_Packing_Name, pit.Product_Info_STND_1 AS Sales_Packing_STND_1, pit.Product_Info_STND_2 AS Sales_Packing_STND_2,
			dt.Child_TBL_Type AS Sales_Packing_Item_Clsfc_1, dt3.Child_TBL_Type Sales_Packing_Item_Clsfc_2, dt4.Child_TBL_Type Sales_Packing_Material,
			spt.Sales_Packing_Status, dt2.Child_TBL_Type AS Sales_Packing_Status_Name 
		FROM Sales_Packing_tbl spt
		INNER JOIN LotMaster_tbl lmt ON spt.Sales_Small_Packing_LotNo = lmt.LM_LotNo
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON spt.Sales_Packing_Status = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		WHERE lmt.LM_Qty = 0
		<if test="ItemCode != ''">
		AND lmt.LM_ItemCode like concat('%',#{ItemCode},'%')
		</if>
		AND lmt.LM_WareHouse = (SELECT Child_TBL_No FROM DTL_TBL WHERE New_TBL_Code = 10 AND Child_TBL_Type='생산창고')
		AND spt.Sales_Packing_Status != (SELECT Child_TBL_No FROM DTL_TBL WHERE New_TBL_Code = 17 AND Child_TBL_Type='입고반품');  
	</select>
	
	<select id="salesPackingSelectDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT spt.Sales_Packing_No, spt.Sales_Large_Packing_LotNo, spt.Sales_Small_Packing_LotNo, spt.Sales_Packing_Qty, lmt.LM_ItemCode as Sales_Packing_Code, pit.Product_Item_Name as Sales_Packing_Name, lmt.LM_Create_Date as Sales_Small_Create_Date, 
			pit.Product_Item_Name AS Sales_Packing_Name, pit.Product_Info_STND_1 AS Sales_Packing_STND_1, pit.Product_Info_STND_2 AS Sales_Packing_STND_2,
			dt.Child_TBL_Type AS Sales_Packing_Item_Clsfc_1, 
			spt.Sales_Packing_Status, dt2.Child_TBL_Type AS Sales_Packing_Status_Name 
		FROM Sales_Packing_tbl spt
		INNER JOIN LotMaster_tbl lmt ON spt.Sales_Small_Packing_LotNo = lmt.LM_LotNo
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON spt.Sales_Packing_Status = dt2.Child_TBL_No
		WHERE 
		<if test="ItemCode != null">
		lmt.LM_ItemCode like concat('%',#{ItemCode},'%')
		</if>
		<if test="ItemSendClsfc != 'all'">
		and spt.Sales_Packing_Status = #{ItemSendClsfc}
		</if>
		ORDER BY spt.Sales_Large_Packing_Time
	</select>
	
	<select id="salesInMatReturnListDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT 
			spt.Sales_Small_Packing_LotNo, -1*spt.Sales_Packing_Qty as Sales_Packing_Qty, sit.Sales_InMat_Code as Sales_Packing_Code, pit.Product_Item_Name as Sales_Packing_Name, 
			pit.Product_Info_STND_1 as Sales_Packing_STND_1, pit.Product_Info_STND_2 as Sales_Packing_STND_2, dt.Child_TBL_Type as Sales_Packing_Item_Clsfc_1, dt2.Child_TBL_Type as Sales_Packing_Unit, 
			dt3.Child_TBL_Type as Sales_Packing_Status_Name, dt4.Child_TBL_Type Sales_Packing_Item_Clsfc_2, dt5.Child_TBL_Type Sales_Packing_Material,
			spt.Sales_Large_Packing_Time, sit.Sales_InMat_Date as Sales_Packing_Return_Date, sit.Sales_InMat_Modifier as Sales_Packing_Modifier
		FROM Sales_Packing_tbl spt
		INNER JOIN Sales_InMat_tbl sit ON spt.Sales_Large_Packing_LotNo = sit.Sales_InMat_Lot_No
		INNER JOIN Product_Info_tbl pit ON sit.Sales_InMat_Code = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Unit = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON spt.Sales_Packing_Status = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Item_CLSFC_2 = dt4.Child_TBL_No
		INNER JOIN DTL_TBL dt5 ON pit.Product_Material = dt5.Child_TBL_No
		<![CDATA[
		WHERE sit.Sales_InMat_Date >= #{startDate} and sit.Sales_InMat_Date < #{endDate}
		AND sit.Sales_InMat_Qty < 0 AND spt.Sales_Packing_Status = '207'
		]]>
		<if test="ItemCode != ''">
		AND sit.Sales_InMat_Code LIKE CONCAT('%',#{ItemCode},'%')
		</if>
		ORDER BY spt.Sales_Large_Packing_Time
	</select>
	
	<select id="salesLargePackingLotNoDao" resultType="com.busience.sales.dto.SalesPackingDto">
		SELECT spt.Sales_Packing_No, spt.Sales_Large_Packing_LotNo, spt.Sales_Small_Packing_LotNo, sum(spt.Sales_Packing_Qty) Sales_Packing_Qty, 
			lmt.LM_ItemCode as Sales_Packing_Code, pit.Product_Item_Name as Sales_Packing_Name, lmt.LM_Create_Date as Sales_Small_Create_Date, 
			pit.Product_Info_STND_1 AS Sales_Packing_STND_1, dt4.Child_TBL_Type AS Sales_Packing_Material, 
			dt.Child_TBL_Type AS Sales_Packing_Item_Clsfc_1, dt3.Child_TBL_Type AS Sales_Packing_Item_Clsfc_2,
			spt.Sales_Packing_Status, dt2.Child_TBL_Type AS Sales_Packing_Status_Name, spt.Sales_Large_Packing_Time 
		FROM Sales_Packing_tbl spt
		INNER JOIN LotMaster_tbl lmt ON spt.Sales_Large_Packing_LotNo = lmt.LM_LotNo
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON spt.Sales_Packing_Status = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		<![CDATA[
		WHERE spt.Sales_Large_Packing_Time >= #{startDate} and spt.Sales_Large_Packing_Time < #{endDate}
		]]>
		<if test="LotNo != '' and LotNo != null">
		AND Sales_Large_Packing_LotNo like concat('%',#{LotNo},'%') 
		</if>
		<if test="ItemCode != '' and ItemCode != null">
		AND lmt.LM_ItemCode LIKE CONCAT('%',#{ItemCode},'%')
		</if>
		GROUP BY spt.Sales_Large_Packing_LotNo
	</select>
	
	<select id="salesSmallPackingLotNoDao" resultType="com.busience.production.dto.Small_Packaging_tbl">
		SELECT spt.Small_Packaging_LotNo, spt.Production_LotNo, sum(spt.Qty) Qty, spt.MachineCode, eit.Equipment_Info_Name MachineName,
			spt.ItemCode, pit.Product_Item_Name as ItemName, spt.Create_Date, 
			pit.Product_Info_STND_1 AS ItemSTND1, pit.Product_Info_STND_2 as ItemSTND2, dt4.Child_TBL_Type AS ItemMaterial_Name, 
			dt.Child_TBL_Type AS ItemClsfc1_Name, dt3.Child_TBL_Type AS ItemClsfc2_Name, sit.Sales_InMat_Modifier Modifier
		FROM Small_Packaging_tbl spt
		INNER JOIN Product_Info_tbl pit ON spt.ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		INNER JOIN Equipment_Info_tbl eit ON spt.MachineCode = eit.Equipment_Info_Code
		LEFT OUTER JOIN Sales_InMat_tbl sit ON spt.Small_Packaging_LotNo = sit.Sales_InMat_Lot_No
		<![CDATA[
		WHERE spt.Create_Date >= #{startDate} and spt.Create_Date < #{endDate}
		]]>
		<if test="LotNo != null and LotNo != ''">
		AND spt.Small_Packaging_LotNo like concat('%',#{LotNo},'%') 
		</if>
		GROUP BY spt.Small_Packaging_LotNo
	</select>
	
	<select id="largePackagingQtySelectDao" resultType="int">
		select
			count(distinct Sales_Large_Packing_LotNo)
		from Sales_Packing_tbl 
		where Sales_MachineCode = #{MachineCode}
		and Sales_ItemCode = #{ItemCode}
		and Sales_Large_Packing_Time >= current_date();
	</select>
	
	<insert id="salesPackingInsertDao">
		INSERT INTO Sales_Packing_tbl (
			Sales_Packing_No, Sales_Large_Packing_LotNo,
			Sales_Small_Packing_LotNo, Sales_Packing_Qty, Sales_Large_Packing_Time, Sales_Packing_Status
		) VALUES (
			#{Sales_Packing_No}, #{Sales_Large_Packing_LotNo},
			#{Sales_Small_Packing_LotNo}, #{Sales_Packing_Qty}, now(), #{Sales_Packing_Status}
		)
	</insert>
	<update id="salesPackingUpdateDao">
	    UPDATE Sales_Packing_tbl 
	    SET Sales_Packing_Status = '207'
	    WHERE Sales_Large_Packing_LotNo = #{Sales_InMat_Lot_No}
	    AND Sales_Packing_Status = #{Sales_InMat_Rcv_Clsfc}
	</update>

	<insert id="largePackagingInsertDao">
		insert into Sales_Packing_tbl(
			Sales_Large_Packing_LotNo, Sales_Small_Packing_LotNo,
			Sales_ItemCode, Sales_MachineCode,
			Sales_Packing_Qty, Sales_Packing_Status
		) select
			#{LotNo}, A.Small_Packaging_LotNo,
			#{ItemCode}, #{MachineCode},
			sum(A.Qty) Qty, '203'
		from Small_Packaging_tbl A
        left outer join Sales_Packing_tbl B on A.Small_Packaging_LotNo = B.Sales_Small_Packing_LotNo
        where B.Sales_Large_Packing_LotNo is null
		group by Small_Packaging_LotNo;
	</insert>

</mapper>
