<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.salesLX.dao.SalesOrderDao">
<select id="SalesOrderMasterSelectDao" resultType="com.busience.salesLX.dto.SalesOrderMasterDto">
	SELECT 
		somt.Sales_Order_mCus_No,
		somt.Sales_Order_mCode,
		sct.Cus_Name Sales_Order_mName,
		somt.Sales_Order_mDate,
		somt.Sales_Order_mTotal,
		somt.Sales_Order_mDlvry_Date,
		somt.Sales_Order_mRemarks,
		somt.Sales_Order_mModifier,
		somt.Sales_Order_mModify_Date,
		somt.Sales_Order_mCheck
	FROM Sales_OrderMaster_tbl somt
	INNER JOIN Customer_tbl sct ON somt.Sales_Order_mCode = sct.Cus_Code
<![CDATA[
	WHERE somt.Sales_Order_mDate >= #{startDate} AND somt.Sales_Order_mDate < #{endDate}
]]>
	AND Sales_Order_mCode like concat('%',#{ClientCode},'%')
<if test="condition != null">
	AND NOT Sales_Order_mCheck = #{condition}
</if>
	ORDER BY Sales_Order_mDate DESC
</select>
<select id="SalesOrderListSelectDao" resultType="com.busience.salesLX.dto.SalesOrderListDto">
	SELECT solt.Sales_Order_lNo, solt.Sales_Order_lCus_No,
		pit.PRODUCT_ITEM_NAME Sales_Order_lName, solt.Sales_Order_lCode,
		pit.PRODUCT_INFO_STND_1 Sales_Order_STND_1, solt.Sales_Order_lQty,
		solt.Sales_Order_lSum, solt.Sales_Order_lUnit_Price, solt.Sales_Order_lPrice,
		solt.Sales_Order_lNot_Stocked, solt.Sales_Order_Send_Clsfc,
		solt.Sales_Order_lInfo_Remark
	FROM Sales_OrderList_tbl solt
	INNER JOIN PRODUCT_INFO_TBL pit ON solt.Sales_Order_lCode = pit.PRODUCT_ITEM_CODE
	WHERE Sales_Order_lCus_No = #{SalesOrderNo}
	ORDER BY Sales_Order_lNo
</select>




</mapper>
