<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.sales.dao.SalesLabelPrintDao">
	<select id="salesLabelPrintListDao" resultType="com.busience.standard.dto.ItemDto">
		select A.Sales_SM_Code PRODUCT_ITEM_CODE, B.PRODUCT_ITEM_NAME, B.PRODUCT_INFO_STND_1, A.Sales_SM_Qty PRODUCT_QTY
		from(
			SELECT Sales_SM_Code, Sales_SM_Last_Qty+Sales_SM_In_Qty-Sales_SM_Out_Qty Sales_SM_Qty
			FROM Sales_StockMat_tbl
			where Sales_SM_Last_Qty+Sales_SM_In_Qty-Sales_SM_Out_Qty > 0
		) A
		inner join PRODUCT_INFO_TBL B on A.Sales_SM_Code = B.PRODUCT_ITEM_CODE
	</select>
</mapper>