
#maskProItemSelectBox {
	margin-top: 30px;
	margin-left: 100px;
}

.machineTable {
	float: left;
	margin-left: 15px;
	width: 32%;
	border: 1px solid;
}

#maskEquipTable {
	margin-left: 8px !important;
}


