
#maskProItemSelectBox {
	margin-top: 30px;
	margin-left: 100px;
}

.machineTable {
	float: left;
	margin-left: 15px;
	width: calc(40% - 15px);
	border: 1px solid;
}

.packmachineTable {
	float: left;
	margin-left: 15px;
	width: calc(59% - 13px);
	border: 1px solid;
}

#maskEquipTable {
	margin-left: 15px !important;
}


