<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.CrateLotDao">
	<select id="crateMachineSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date
		FROM Crate_Lot_tbl
		where CL_OrderNo = #{OrderNo}
	</select>

	<select id="crateLotSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date
		FROM Crate_Lot_tbl
		where CL_OrderNo = #{OrderNo}
	</select>
	
	<select id="crateLotSelectDao2" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			A.CL_LotNo, A.CL_OrderNo, A.CL_ItemCode, B.Product_Item_Name CL_ItemName,
		    A.CL_CrateCode, A.CL_Qty, A.CL_Create_Date
		FROM Crate_Lot_tbl A
		inner join Product_Info_tbl B on A.CL_ItemCode = B.Product_Item_Code
		where A.CL_MachineCode = #{machineCode}
	</select>
	
	<select id="crateLotNoCreateDao" resultType="String">
		SELECT
			concat('N', DATE_FORMAT(NOW(),'%y%m%d'), #{itemCode}, lpad(count(*)+1, 4, 0))
		FROM Crate_Lot_tbl
		where CL_Create_Date > current_date();
	</select>
	
	<select id="crateLotRecordSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date
		FROM Crate_Lot_tbl
		where CL_MachineCode = #{machineCode}
		and CL_Use_Status = 0
		order by CL_Create_Date desc
		limit 3
	</select>
	
	<select id="crateLotListSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			A.CL_LotNo, A.CL_OrderNo, A.CL_ItemCode, B.Product_Item_Name CL_ItemName,
		    A.CL_CrateCode, A.CL_MachineCode, A.CL_MachineCode2,
		    A.CL_ProductionQty, A.CL_Qty, A.CL_Create_Date
		FROM Crate_Lot_tbl A
		inner join Product_Info_tbl B on A.CL_ItemCode = B.Product_Item_Code
		where A.CL_MachineCode2 = #{machineCode}
		and A.CL_ProductionQty > 0
		order by A.CL_Create_Date asc

	</select>
	
	<select id="crateLotListMasterDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, clt.CL_Qty, clt.CL_Create_Date, 
			pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, 
			dt.Child_TBL_Type CL_Item_Material, dt2.Child_TBL_Type CL_Item_Clsfc_Name_1, dt3.Child_TBL_Type CL_Item_Clsfc_Name_2
		FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Material = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_1 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		<![CDATA[
		WHERE clt.CL_Create_Date >= #{startDate} and clt.CL_Create_Date < #{endDate}
		]]>
		<if test="LotNo != ''">
		AND clt.CL_LotNo LIKE CONCAT ('%',#{LotNo},'%')
		</if>
		<if test="ItemCode != ''">
		AND clt.CL_ItemCode LIKE CONCAT('%',#{ItemCode},'%')
		</if>
	</select>
	
	<select id="crateInspectSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT distinct clt.*, eit.Equipment_Info_Name as CL_EquipName, pit.Product_Item_Name as CL_ItemName,
			pit.Product_Info_STND_1 as CL_STND_1, dt.Child_TBL_Type as CL_Item_Clsfc_Name_1, proit.Process_Inspect_Qty as CL_Process_Inspect_Qty
		FROM Crate_Lot_tbl clt
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode = eit.Equipment_Info_Code
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		LEFT OUTER JOIN Process_Inspect_tbl proit ON clt.CL_LotNo = proit.Process_Inspect_LotNo
		WHERE clt.CL_ProductionQty = clt.CL_Qty
		<![CDATA[
		AND clt.CL_Create_Date >= #{startDate} AND clt.CL_Create_Date < #{endDate}
		]]>
		AND clt.CL_ItemCode LIKE CONCAT('%',#{itemCode},'%')
		AND clt.CL_MachineCode LIKE CONCAT('%',#{machineCode},'%')
		<if test="LotNo != ''">
		AND clt.CL_LotNo LIKE CONCAT ('%',#{LotNo},'%')
		</if>
		AND proit.Process_Inspect_Qty is null
		ORDER BY clt.CL_Create_Date 
	</select>
	
	<select id="crateLotRefreshSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT *
		FROM Crate_Lot_tbl A
		<![CDATA[
		where A.CL_Create_Date < (
		]]>
			select
				CL_Create_Date
			from Crate_Lot_tbl B
			where B.CL_CrateCode = #{CL_CrateCode}
			and B.CL_MachineCode = #{CL_MachineCode}
		)
	</select>
	
	<insert id="crateLotSaveDao">
		insert ignore into Crate_Lot_tbl(
			CL_LotNo, CL_OrderNo, CL_ItemCode,
			CL_CrateCode, CL_MachineCode, CL_Qty, CL_Create_Date
		)values(
			#{CL_LotNo}, #{CL_OrderNo}, #{CL_ItemCode},
			#{CL_CrateCode}, #{CL_MachineCode}, 0, now()
		)
	</insert>
	
	<update id="crateLotUpdateDao">
		update Crate_Lot_tbl
		set
		CL_MachineCode2 = #{CL_MachineCode2},
		CL_Create_Date = now()
		where CL_LotNo = #{CL_LotNo}
	</update>
	
	<update id="crateLotQtyUpdateDao">
		update Crate_Lot_tbl
		set	
		CL_Qty = CL_Qty + #{CL_Qty},
		CL_ProductionQty = CL_Qty
		where CL_LotNo = (
			select
				AA.C_Production_LotNo
		    from (
				select
					A.C_Production_LotNo
				from Crate_tbl A
				inner join Crate_Lot_tbl B on B.CL_LotNo = A.C_Production_LotNo and B.CL_MachineCode = #{CL_MachineCode}
				where C_Condition = '1'
		    ) AA
		);
	</update>
	
	<update id="crateLotUpdateDao2">
		update Crate_Lot_tbl
		set
		CL_MachineCode = #{CL_MachineCode}
		where CL_CrateCode = #{CL_CrateCode}
		and CL_ProductionQty > 0
	</update>
</mapper>