<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.CrateDao">
	<select id="crateSelectDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT
			C_CrateCode, C_Condition,
		    C_Create_Date, C_Use_Status
		FROM Crate_tbl
	</select>
	
	<select id="crateLotNoSelectDao" resultType="String">
		SELECT
			concat('C', DATE_FORMAT(NOW(),'%y%m%d'), #{C_LotNo}, lpad(count(*)+1, 4, 0))
		FROM Crate_tbl
		where C_Create_Date > current_date();
	</select>
	
	<insert id="crateSaveDao">
		insert into Crate_tbl(
			C_CrateCode, C_Condition,
		    C_Create_Date, C_Use_Status
		)values(
			#{C_CrateCode}, 1,
		    now(), #{C_Use_Status}
		) on duplicate key update
			C_Use_Status = #{C_Use_Status}
	</insert>
	
	<update id="CrateUpdateDao">
		update Crate_tbl
		set
		C_Use_Status = #{C_Use_Status}
		where C_CrateCode = #{C_CrateCode}
	</update>
</mapper>