<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.CrateLotDao">
	<select id="crateMachineSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date,
		    CL_Use_Status
		FROM Crate_Lot_tbl
		where CL_OrderNo = #{OrderNo}
		and CL_Use_Status = 1
	</select>

	<select id="crateLotSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date,
		    CL_Use_Status
		FROM Crate_Lot_tbl
		where CL_OrderNo = #{OrderNo}
		and CL_Use_Status = 1
	</select>
	
	<select id="crateLotSelectDao2" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			A.CL_LotNo, A.CL_OrderNo, A.CL_ItemCode, B.Product_Item_Name CL_ItemName,
		    A.CL_CrateCode, A.CL_Qty, A.CL_Create_Date,
		    A.CL_Use_Status
		FROM Crate_Lot_tbl A
		inner join Product_Info_tbl B on A.CL_ItemCode = B.Product_Item_Code
		where A.CL_MachineCode = #{machineCode}
		and A.CL_Use_Status = 1
	</select>
	
	<select id="crateLotNoCreateDao" resultType="String">
		SELECT
			concat('N', DATE_FORMAT(NOW(),'%y%m%d'), #{CL_ItemCode}, lpad(count(*)+1, 4, 0))
		FROM Crate_Lot_tbl
		where CL_Create_Date > current_date();
	</select>
	
	<select id="crateLotRecordSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			CL_LotNo, CL_OrderNo, CL_ItemCode,
		    CL_CrateCode, CL_Qty, CL_Create_Date, CL_Use_Status
		FROM Crate_Lot_tbl
		where CL_OrderNo = #{OrderNo}
		and CL_Use_Status = 0
		order by CL_Create_Date desc
		limit 3
	</select>
	
	<select id="crateLotListSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT
			A.CL_LotNo, A.CL_OrderNo, A.CL_ItemCode, B.Product_Item_Name CL_ItemName,
		    A.CL_CrateCode, A.CL_MachineCode, A.CL_Qty, A.CL_Create_Date, A.CL_Use_Status
		FROM Crate_Lot_tbl A
		inner join Product_Info_tbl B on A.CL_ItemCode = B.Product_Item_Code
		where A.CL_MachineCode = #{machineCode}
		and A.CL_Qty > 0
		and A.CL_Use_Status = 0

	</select>
	
	<select id="crateInspectSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT distinct clt.*, wot.WorkOrder_EquipCode as CL_EquipCode, eit.Equipment_Info_Name as CL_EquipName, pit.Product_Item_Name as CL_ItemName,
			pit.Product_Info_STND_1 as CL_STND_1, dt.Child_TBL_Type as CL_Item_Clsfc_Name_1, proit.Process_Inspect_Qty as CL_Process_Inspect_Qty
		FROM Crate_Lot_tbl clt
		INNER JOIN WorkOrder_tbl wot ON clt.CL_OrderNo = wot.WorkOrder_ONo
		INNER JOIN Equipment_Info_tbl eit ON wot.WorkOrder_EquipCode = eit.Equipment_Info_Code
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		LEFT OUTER JOIN Process_Inspect_tbl proit ON clt.CL_LotNo = proit.Process_Inspect_LotNo
		WHERE clt.CL_Qty != 0
		<![CDATA[
		AND clt.CL_Create_Date >= #{startDate} AND clt.CL_Create_Date < #{endDate}
		]]>
		AND clt.CL_ItemCode LIKE CONCAT('%',#{itemCode},'%')
		AND wot.WorkOrder_EquipCode LIKE CONCAT('%',#{machineCode},'%')
		<if test="LotNo != ''">
		AND clt.CL_LotNo LIKE CONCAT ('%',#{LotNo},'%')
		</if>
		AND proit.Process_Inspect_Qty is null
		ORDER BY clt.CL_Create_Date 
	</select>
	
	<select id="crateLotRefreshSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT *
		FROM Crate_Lot_tbl A
		<![CDATA[
		where A.CL_Create_Date < (
		]]>
			select
				CL_Create_Date
			from Crate_Lot_tbl B
			where B.CL_CrateCode = #{CL_CrateCode}
			and B.CL_MachineCode = #{CL_MachineCode}
			and B.CL_Use_Status = 1
		)
	</select>
	
	<insert id="crateLotSaveDao">
		insert into Crate_Lot_tbl(
			CL_LotNo, CL_OrderNo, CL_ItemCode,
			CL_CrateCode, CL_Qty, CL_Create_Date,
			CL_Use_Status
		)values(
			#{CL_LotNo}, #{CL_OrderNo}, #{CL_ItemCode},
			#{CL_CrateCode}, 0, now(),
			1
		)
	</insert>
	
	<update id="crateLotUpdateDao">
		update Crate_Lot_tbl
		set
		CL_Use_Status = false
		where CL_LotNo = #{CL_Before_LotNo}
	</update>
	
	<update id="crateLotQtyUpdateDao">
		update Crate_Lot_tbl
		set
		CL_Qty = CL_Qty + #{CL_Qty},
		CL_ProductionQty = CL_Qty
		where CL_LotNo = #{CL_LotNo}
	</update>
	
	<update id="crateLotUpdateDao2">
		update Crate_Lot_tbl
		set
		CL_MachineCode = #{CL_MachineCode}
		where CL_CrateCode = #{CL_CrateCode}
		and CL_Qty > 0
	</update>
</mapper>