<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.CrateDao">
	<select id="crateSelectDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT
			A.C_CrateCode, A.C_Condition, A.C_Create_Date, A.C_Production_LotNo,
		    B.CL_ProductionQty C_ProductionQty,
		    B.CL_MachineCode C_MachineCode, C.Equipment_Info_Name C_MachineName,
		    B.CL_MachineCode2 C_MachineCode2, D.Equipment_Info_Name C_MachineName2
		FROM Crate_tbl A
		left outer join Crate_Lot_tbl B on A.C_Production_LotNo = B.CL_LotNo
		left outer join Equipment_Info_tbl C on B.CL_MachineCode = C.Equipment_Info_Code
		left outer join Equipment_Info_tbl D on B.CL_MachineCode2 = D.Equipment_Info_Code
		order by C_CrateCode
	</select>
	
	<select id="crateSelectbyCodeDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT
			C_CrateCode, C_Condition, C_Create_Date, C_Production_LotNo
		FROM Crate_tbl
		where C_CrateCode = #{crateCode}
	</select>
	
	<select id="crateStatusCheckDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT 
			A.C_CrateCode, A.C_Condition, A.C_Create_Date,
			A.C_Production_LotNo, B.CL_ItemCode C_ItemCode
		FROM Crate_tbl A
		left outer join Crate_Lot_tbl B on A.C_Production_LotNo = B.CL_LotNo
		where A.C_CrateCode = #{CrateCode}
		and A.C_Condition = #{Condition}
	</select>
	
	<select id="crateSelectByMachineDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT
            A.C_CrateCode, A.C_Condition,
            A.C_Create_Date, A.C_Production_LotNo,
            B.CL_MachineCode C_MachineCode, B.CL_Qty C_Qty,
            B.CL_ItemCode C_ItemCode, C.Product_Item_Name C_ItemName
        FROM Crate_tbl A
        inner join Crate_Lot_tbl B on A.C_Production_LotNo = B.CL_LotNo and B.CL_MachineCode = #{machineCode}
        inner join Product_Info_tbl C on B.CL_ItemCode = C.Product_Item_Code
        where A.C_Condition = #{condition}
    </select>
	
	<select id="crateLotNoSelectDao" resultType="String">
		SELECT
			concat('N', DATE_FORMAT(NOW(),'%y%m%d'), #{C_LotNo}, lpad(count(*)+1, 4, 0))
		FROM Crate_tbl
		where C_Create_Date > current_date();
	</select>
	
	<insert id="crateSaveDao">
		insert into Crate_tbl(
			C_CrateCode, C_Condition,
		    C_Create_Date, C_Production_LotNo
		)values(
			#{C_CrateCode}, #{C_Condition},
		    now(), #{c_Production_LotNo}
		) on duplicate key update
		<if test="C_Condition == 0">
			C_Production_LotNo = null,
		</if>
		C_Condition = #{C_Condition}
	</insert>
	
	<update id="crateUpdateDao">
		update Crate_tbl
		set
	<if test="C_Production_LotNo != null or C_Condition == 0">
		C_Production_LotNo = #{C_Production_LotNo},
	</if>
		C_Condition = #{C_Condition}
		where C_CrateCode = #{C_CrateCode}
	</update>
</mapper>