<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.CrateDao">
	<select id="crateSelectDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT *
		FROM Crate_tbl
	</select>
	
	<select id="crateStatusCheckDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT 
			A.C_CrateCode, A.C_Condition, A.C_Create_Date,
			A.C_Production_LotNo, B.CL_ItemCode C_ItemCode
		FROM Crate_tbl A
		left outer join Crate_Lot_tbl B on A.C_Production_LotNo = B.CL_LotNo
		where A.C_CrateCode = #{CrateCode}
		and A.C_Condition = #{Condition}
	</select>
	
	<select id="crateSelectByMachineDao" resultType="com.busience.tablet.dto.CrateDto">
		SELECT
			A.C_CrateCode, A.C_Condition,
			A.C_Create_Date, A.C_Production_LotNo,
            B.CL_MachineCode C_MachineCode, B.CL_Qty C_Qty
		FROM Crate_tbl A
		inner join Crate_Lot_tbl B on A.C_Production_LotNo = B.CL_LotNo and B.CL_MachineCode = #{machineCode}
		where A.C_Condition = #{condition}
	</select>
	
	<select id="crateLotNoSelectDao" resultType="String">
		SELECT
			concat('N', DATE_FORMAT(NOW(),'%y%m%d'), #{C_LotNo}, lpad(count(*)+1, 4, 0))
		FROM Crate_tbl
		where C_Create_Date > current_date();
	</select>
	
	<insert id="crateSaveDao">
		insert into Crate_tbl(
			C_CrateCode, C_Condition,
		    C_Create_Date, C_Use_Status, C_Production_LotNo
		)values(
			#{C_CrateCode}, #{C_Condition},
		    now(), #{C_Use_Status}, #{c_Production_LotNo}
		) on duplicate key update
		C_Condition = #{C_Condition},
		C_Create_Date = now(),
		C_Use_Status = #{C_Use_Status},
		C_Production_LotNo = #{C_Production_LotNo}
	</insert>
	
	<update id="crateUpdateDao">
		update Crate_tbl
		set
	<if test="C_Production_LotNo != null">
		C_Production_LotNo = #{C_Production_LotNo},
	</if>
		C_Condition = #{C_Condition}
		where C_CrateCode = #{C_CrateCode}
	</update>
</mapper>