<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.tablet.dao.RawMaterialDao">

	<select id="rawMaterialSelectDao" resultType="com.busience.tablet.dto.RawMaterialDto">
		select distinct
			A.Material_ItemCode,
		    B.Product_Item_Name Material_ItemName,
		    (SELECT Material_LotNo FROM Raw_Material_tbl where Material_ItemCode = A.Material_ItemCode order by CreateDate desc limit 1) Material_LotNo,
		    (SELECT Qty FROM Raw_Material_tbl where Material_ItemCode = A.Material_ItemCode order by CreateDate desc limit 1) Qty
		from Raw_Material_tbl A
		inner join Product_Info_tbl B on A.Material_ItemCode = B.Product_Item_Code
		where A.Production_LotNo = #{LotNo};
	</select>
	
	<select id="rawMaterialListMasterDao" resultType="com.busience.tablet.dto.RawMaterialDto">
		SELECT rmt.*, pit.Product_Item_Name Material_ItemName, pit.Product_Info_STND_1 Material_Item_Stnd_1, 
			dt.Child_TBL_Type Material_Item_Material, dt2.Child_TBL_Type Material_Item_Clsfc_1, dt3.Child_TBL_Type Material_Item_Clsfc_2 
		FROM Raw_Material_tbl rmt
		INNER JOIN Product_Info_tbl pit ON rmt.Material_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Material = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_1 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		WHERE rmt.Production_LotNo = #{LotNo}
	</select>

	<insert id="rawMaterialSaveDao">
		insert ignore into Raw_Material_tbl (
			Production_LotNo, Material_LotNo, Material_ItemCode, Qty
		)values(
			#{Production_LotNo},
			#{Material_LotNo}, #{Material_ItemCode}, #{Qty}
		)
	</insert>
	
	<insert id="rawMaterialDeleteDao">
		delete from Raw_Material_tbl where Material_LotNo = #{LotNo}
	</insert>
</mapper>