<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.standard.dao.ItemDao">
	<select id="selectItemList" resultType="com.busience.standard.dto.ItemDto">
		select 
			A.PRODUCT_BUSINESS_PLACE, B.CHILD_TBL_TYPE PRODUCT_BUSINESS_PLACE_NAME,
			A.PRODUCT_ITEM_CODE, A.PRODUCT_OLD_ITEM_CODE,
			A.PRODUCT_ITEM_NAME, A.PRODUCT_INFO_STND_1,
			A.PRODUCT_INFO_STND_2, A.PRODUCT_UNIT,
			C.CHILD_TBL_TYPE PRODUCT_UNIT_NAME, A.PRODUCT_MATERIAL,
			D.CHILD_TBL_TYPE PRODUCT_MATERIAL_NAME, A.PRODUCT_MTRL_CLSFC,
			E.CHILD_TBL_TYPE PRODUCT_MTRL_CLSFC_NAME, A.PRODUCT_ITEM_CLSFC_1,
			F.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_1_NAME, A.PRODUCT_ITEM_CLSFC_2,
			G.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_2_NAME, A.PRODUCT_UNIT_PRICE,
			A.PRODUCT_MULTIPLE, A.PRODUCT_SUBSID_MATL_MGMT, A.PRODUCT_ITEM_STTS,
			H.CHILD_TBL_TYPE PRODUCT_ITEM_STTS_NAME, A.PRODUCT_BASIC_WAREHOUSE,
			I.CHILD_TBL_TYPE PRODUCT_BASIC_WAREHOUSE_NAME, A.PRODUCT_SAVE_AREA,
			J.CHILD_TBL_TYPE PRODUCT_SAVE_AREA_NAME, A.PRODUCT_SFTY_STOCK,
			A.PRODUCT_BUYER, A.PRODUCT_WRHSN_INSPC,
			A.PRODUCT_USE_STATUS, A.PRODUCT_MODIFY_D,
			K.USER_NAME PRODUCT_MODIFIER
			from Product_Info_tbl A
			inner join DTL_TBL B on A.PRODUCT_BUSINESS_PLACE = B.CHILD_TBL_NO
			inner join DTL_TBL C on A.PRODUCT_UNIT = C.CHILD_TBL_NO
			inner join DTL_TBL D on A.PRODUCT_MATERIAL = D.CHILD_TBL_NO
			inner join DTL_TBL E on A.PRODUCT_MTRL_CLSFC = E.CHILD_TBL_NO
			inner join DTL_TBL F on A.PRODUCT_ITEM_CLSFC_1 = F.CHILD_TBL_NO
			inner join DTL_TBL G on A.PRODUCT_ITEM_CLSFC_2 = G.CHILD_TBL_NO
			inner join DTL_TBL H on A.PRODUCT_ITEM_STTS = H.CHILD_TBL_NO
			inner join DTL_TBL I on A.PRODUCT_BASIC_WAREHOUSE = I.CHILD_TBL_NO
			left outer join DTL_TBL J on A.PRODUCT_SAVE_AREA = J.CHILD_TBL_NO
			inner join User_Info_tbl K on A.PRODUCT_MODIFIER = K.USER_CODE
			order by A.PRODUCT_ITEM_CODE
	</select>

	<insert id="insertItemCode">
		insert into Product_Info_tbl(
			PRODUCT_BUSINESS_PLACE,	PRODUCT_ITEM_CODE, PRODUCT_OLD_ITEM_CODE,
			PRODUCT_ITEM_NAME, PRODUCT_INFO_STND_1, PRODUCT_INFO_STND_2,
			PRODUCT_UNIT, PRODUCT_MATERIAL, PRODUCT_MTRL_CLSFC,
			PRODUCT_ITEM_CLSFC_1, PRODUCT_ITEM_CLSFC_2,	PRODUCT_UNIT_PRICE, PRODUCT_MULTIPLE,
			PRODUCT_SUBSID_MATL_MGMT, PRODUCT_ITEM_STTS, PRODUCT_BASIC_WAREHOUSE,
			PRODUCT_SFTY_STOCK,	PRODUCT_BUYER, PRODUCT_WRHSN_INSPC,
			PRODUCT_USE_STATUS,	PRODUCT_MODIFY_D, PRODUCT_MODIFIER
		) values(
			#{PRODUCT_BUSINESS_PLACE}, #{PRODUCT_ITEM_CODE}, #{PRODUCT_OLD_ITEM_CODE},
			#{PRODUCT_ITEM_NAME}, #{PRODUCT_INFO_STND_1}, 
			<if test="PRODUCT_INFO_STND_2 != ''">
			#{PRODUCT_INFO_STND_2},
			</if>
			<if test="PRODUCT_INFO_SUB_STND_2 != ''">
			#{PRODUCT_INFO_SUB_STND_2},
			</if>
			#{PRODUCT_UNIT}, #{PRODUCT_MATERIAL}, #{PRODUCT_MTRL_CLSFC},
			#{PRODUCT_ITEM_CLSFC_1}, #{PRODUCT_ITEM_CLSFC_2}, #{PRODUCT_UNIT_PRICE}, #{PRODUCT_MULTIPLE},
			#{PRODUCT_SUBSID_MATL_MGMT}, #{PRODUCT_ITEM_STTS}, #{PRODUCT_BASIC_WAREHOUSE},
			#{PRODUCT_SFTY_STOCK}, #{PRODUCT_BUYER}, #{PRODUCT_WRHSN_INSPC},
			#{PRODUCT_USE_STATUS}, now(), #{PRODUCT_MODIFIER}
		)
	</insert>
	
	<insert id="insertItemInSalesStock">
		insert into Sales_StockMat_tbl (Sales_SM_Code, Sales_SM_Last_Qty, Sales_SM_In_Qty, Sales_SM_Out_Qty, Sales_SM_Prcs_Date)
			values(#{itemCode}, 0, 0, 0, '2101');
	</insert>
	
	<insert id="insertItemInStock">
		insert into StockMat_tbl (SM_Code, SM_Last_Qty, SM_In_Qty, SM_Out_Qty, SM_Prcs_Date)
			values(#{itemCode}, 0, 0, 0, '2101');
	</insert>
	
	<update id="updateItemCode">
		update Product_Info_tbl
			set
			PRODUCT_BUSINESS_PLACE = #{PRODUCT_BUSINESS_PLACE},
			PRODUCT_OLD_ITEM_CODE = #{PRODUCT_OLD_ITEM_CODE},
			PRODUCT_ITEM_NAME = #{PRODUCT_ITEM_NAME},
			PRODUCT_INFO_STND_1 = #{PRODUCT_INFO_STND_1},
			PRODUCT_INFO_STND_2 = #{PRODUCT_INFO_STND_2},
			PRODUCT_UNIT = #{PRODUCT_UNIT},
			PRODUCT_MATERIAL = #{PRODUCT_MATERIAL},
			PRODUCT_MTRL_CLSFC = #{PRODUCT_MTRL_CLSFC},
			PRODUCT_ITEM_CLSFC_1 = #{PRODUCT_ITEM_CLSFC_1},
			PRODUCT_ITEM_CLSFC_2 = #{PRODUCT_ITEM_CLSFC_2},
			PRODUCT_UNIT_PRICE = #{PRODUCT_UNIT_PRICE},
			PRODUCT_MULTIPLE = #{PRODUCT_MULTIPLE},
			PRODUCT_SUBSID_MATL_MGMT = #{PRODUCT_SUBSID_MATL_MGMT},
			PRODUCT_ITEM_STTS = #{PRODUCT_ITEM_STTS},
			PRODUCT_BASIC_WAREHOUSE = #{PRODUCT_BASIC_WAREHOUSE},
			PRODUCT_SFTY_STOCK = #{PRODUCT_SFTY_STOCK},
			PRODUCT_BUYER = #{PRODUCT_BUYER},
			PRODUCT_WRHSN_INSPC = #{PRODUCT_WRHSN_INSPC},
			PRODUCT_USE_STATUS = #{PRODUCT_USE_STATUS},
			PRODUCT_MODIFY_D = now(),
			PRODUCT_MODIFIER = #{PRODUCT_MODIFIER}
			where PRODUCT_ITEM_CODE = #{PRODUCT_ITEM_CODE}
	</update>
	
	<delete id="deleteItemCode">
		delete from Product_Info_tbl
			where PRODUCT_ITEM_CODE = #{itemCode}
	</delete>
	
	<select id="selectItemCode" resultType="com.busience.standard.dto.ItemDto">
		select 
			A.PRODUCT_BUSINESS_PLACE, B.CHILD_TBL_TYPE PRODUCT_BUSINESS_PLACE_NAME,
			A.PRODUCT_ITEM_CODE, A.PRODUCT_OLD_ITEM_CODE,
			A.PRODUCT_ITEM_NAME, A.PRODUCT_INFO_STND_1,
			A.PRODUCT_INFO_STND_2, A.PRODUCT_UNIT,
			C.CHILD_TBL_TYPE PRODUCT_UNIT_NAME, A.PRODUCT_MATERIAL,
			D.CHILD_TBL_TYPE PRODUCT_MATERIAL_NAME, A.PRODUCT_MTRL_CLSFC,
			E.CHILD_TBL_TYPE PRODUCT_MTRL_CLSFC_NAME, A.PRODUCT_ITEM_CLSFC_1,
			F.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_1_NAME, A.PRODUCT_ITEM_CLSFC_2,
			G.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_2_NAME, A.PRODUCT_UNIT_PRICE,
			A.PRODUCT_MULTIPLE, A.PRODUCT_SUBSID_MATL_MGMT, A.PRODUCT_ITEM_STTS,
			H.CHILD_TBL_TYPE PRODUCT_ITEM_STTS_NAME, A.PRODUCT_BASIC_WAREHOUSE,
			I.CHILD_TBL_TYPE PRODUCT_BASIC_WAREHOUSE_NAME, A.PRODUCT_SAVE_AREA,
			J.CHILD_TBL_TYPE PRODUCT_SAVE_AREA_NAME, A.PRODUCT_SFTY_STOCK,
			A.PRODUCT_BUYER, A.PRODUCT_WRHSN_INSPC,
			A.PRODUCT_USE_STATUS, A.PRODUCT_MODIFY_D,
			K.USER_NAME PRODUCT_MODIFIER
			from Product_Info_tbl A
			inner join DTL_TBL B on A.PRODUCT_BUSINESS_PLACE = B.CHILD_TBL_NO
			inner join DTL_TBL C on A.PRODUCT_UNIT = C.CHILD_TBL_NO
			inner join DTL_TBL D on A.PRODUCT_MATERIAL = D.CHILD_TBL_NO
			inner join DTL_TBL E on A.PRODUCT_MTRL_CLSFC = E.CHILD_TBL_NO
			inner join DTL_TBL F on A.PRODUCT_ITEM_CLSFC_1 = F.CHILD_TBL_NO
			inner join DTL_TBL G on A.PRODUCT_ITEM_CLSFC_2 = G.CHILD_TBL_NO
			inner join DTL_TBL H on A.PRODUCT_ITEM_STTS = H.CHILD_TBL_NO
			inner join DTL_TBL I on A.PRODUCT_BASIC_WAREHOUSE = I.CHILD_TBL_NO
			left outer join DTL_TBL J on A.PRODUCT_SAVE_AREA = J.CHILD_TBL_NO
			inner join User_Info_tbl K on A.PRODUCT_MODIFIER = K.USER_CODE
			where A.PRODUCT_ITEM_CODE = #{itemCode}
	</select>
	
	<select id="selectMaterialClsfc" resultType="com.busience.standard.dto.ItemDto">
		select 
			A.PRODUCT_BUSINESS_PLACE, B.CHILD_TBL_TYPE PRODUCT_BUSINESS_PLACE_NAME,
			A.PRODUCT_ITEM_CODE, A.PRODUCT_OLD_ITEM_CODE,
			A.PRODUCT_ITEM_NAME, A.PRODUCT_INFO_STND_1,
			A.PRODUCT_INFO_STND_2, A.PRODUCT_UNIT,
			C.CHILD_TBL_TYPE PRODUCT_UNIT_NAME, A.PRODUCT_MATERIAL,
			D.CHILD_TBL_TYPE PRODUCT_MATERIAL_NAME, A.PRODUCT_MTRL_CLSFC,
			E.CHILD_TBL_TYPE PRODUCT_MTRL_CLSFC_NAME, A.PRODUCT_ITEM_CLSFC_1,
			F.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_1_NAME, A.PRODUCT_ITEM_CLSFC_2,
			G.CHILD_TBL_TYPE PRODUCT_ITEM_CLSFC_2_NAME, A.PRODUCT_UNIT_PRICE,
			A.PRODUCT_MULTIPLE, A.PRODUCT_SUBSID_MATL_MGMT, A.PRODUCT_ITEM_STTS,
			H.CHILD_TBL_TYPE PRODUCT_ITEM_STTS_NAME, A.PRODUCT_BASIC_WAREHOUSE,
			I.CHILD_TBL_TYPE PRODUCT_BASIC_WAREHOUSE_NAME, A.PRODUCT_SAVE_AREA,
			J.CHILD_TBL_TYPE PRODUCT_SAVE_AREA_NAME, A.PRODUCT_SFTY_STOCK,
			A.PRODUCT_BUYER, A.PRODUCT_WRHSN_INSPC,
			A.PRODUCT_USE_STATUS, A.PRODUCT_MODIFY_D,
			K.USER_NAME PRODUCT_MODIFIER
			from Product_Info_tbl A
			inner join DTL_TBL B on A.PRODUCT_BUSINESS_PLACE = B.CHILD_TBL_NO
			inner join DTL_TBL C on A.PRODUCT_UNIT = C.CHILD_TBL_NO
			inner join DTL_TBL D on A.PRODUCT_MATERIAL = D.CHILD_TBL_NO
			inner join DTL_TBL E on A.PRODUCT_MTRL_CLSFC = E.CHILD_TBL_NO
			inner join DTL_TBL F on A.PRODUCT_ITEM_CLSFC_1 = F.CHILD_TBL_NO
			inner join DTL_TBL G on A.PRODUCT_ITEM_CLSFC_2 = G.CHILD_TBL_NO
			inner join DTL_TBL H on A.PRODUCT_ITEM_STTS = H.CHILD_TBL_NO
			inner join DTL_TBL I on A.PRODUCT_BASIC_WAREHOUSE = I.CHILD_TBL_NO
			left outer join DTL_TBL J on A.PRODUCT_SAVE_AREA = J.CHILD_TBL_NO
			inner join User_Info_tbl K on A.PRODUCT_MODIFIER = K.USER_CODE
			where A.PRODUCT_MTRL_CLSFC = #{materialClsfc}
	</select>
	
	<select id="selectInspectStatusDao" resultType="com.busience.standard.dto.ItemDto">
		select * from Product_Info_tbl
		where Product_WRHSN_INSPC = 'false'
	</select>
	
	<select id="itemCodeNextVal" resultType="com.busience.standard.dto.ItemDto">
		SELECT DISTINCT
		(SUBSTRING(
			(SELECT Product_Item_Code 
				FROM Product_Info_tbl 
				WHERE Product_Item_Code LIKE 'P%' 
				ORDER BY Product_Item_Code DESC LIMIT 1
			), 2)
		)+1 AS NEXT_CODE_VAL FROM Product_Info_tbl
	</select>
</mapper>