<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.standard.dao.MachineDao">
	<select id="selectMachineListDao" resultType="com.busience.standard.dto.MachineDto">
		SELECT 
			A.EQUIPMENT_BUSINESS_PLACE, B.CHILD_TBL_TYPE AS EQUIPMENT_BUSINESS_PLACE_NAME,
			A.EQUIPMENT_INFO_CODE, A.EQUIPMENT_INFO_NAME,
			A.EQUIPMENT_INFO_ABR, A.EQUIPMENT_HEIGHT,
			A.EQUIPMENT_WIDTH, A.EQUIPMENT_DEPTH,
			A.EQUIPMENT_SERIAL_NUM, A.EQUIPMENT_TYPE, E.CHILD_TBL_TYPE AS EQUIPMENT_TYPE_NAME,
			A.EQUIPMENT_RECEIVED_D, A.EQUIPMENT_MODEL_YEAR,
			A.EQUIPMENT_MANUFACTURER, A.EQUIPMENT_STATUS,
			C.CHILD_TBL_TYPE AS EQUIPMENT_STATUS_NAME, A.EQUIPMENT_INFO_RMARK,
			A.EQUIPMENT_USE_STATUS, A.EQUIPMENT_MODIFY_D,
			D.USER_NAME EQUIPMENT_MODIFIER
			FROM Equipment_Info_tbl A
			INNER JOIN (
				select * from DTL_TBL where NEW_TBL_CODE=2
			) B ON A.EQUIPMENT_BUSINESS_PLACE = B.CHILD_TBL_NO
			INNER JOIN (
				select * from DTL_TBL where NEW_TBL_CODE=12
			) C ON A.EQUIPMENT_STATUS = C.CHILD_TBL_NO
			INNER JOIN User_Info_tbl D ON A.EQUIPMENT_MODIFIER = D.USER_CODE
			INNER JOIN (
			   select * from DTL_TBL where NEW_TBL_CODE=43
			) E ON A.Equipment_Type = E.CHILD_TBL_NO
	</select>
 	<select id="dtlMachineListDao" resultType="com.busience.standard.dto.MachineDto">
			<if test="EQUIPMENT_TYPE == 1">
			select eit.Equipment_info_Code, eit.Equipment_info_Name, eit.Equipment_info_ABR, eit.Equipment_Type,
				wot.WorkOrder_ONo, dt.CHILD_TBL_TYPE as EQUIPMENT_TYPE_NAME
			from Equipment_Info_tbl eit
			inner join (
				select * from DTL_TBL where NEW_TBL_CODE=43
			) dt on eit.Equipment_Type = dt.CHILD_TBL_NO
			left outer join WorkOrder_tbl wot ON eit.Equipment_Info_Code = wot.WorkOrder_EquipCode
			where Equipment_Type = 324 and wot.WorkOrder_ONo IS null
			</if>
			<if test="EQUIPMENT_TYPE == 2">
			select eit.Equipment_info_Code EQUIPMENT_PACK_CODE, eit.Equipment_info_Name EQUIPMENT_PACK_NAME, eit.Equipment_info_ABR, eit.Equipment_Type,
				wot.WorkOrder_ONo, dt.CHILD_TBL_TYPE as EQUIPMENT_TYPE_NAME
			from Equipment_Info_tbl eit
			inner join (
				select * from DTL_TBL where NEW_TBL_CODE=43
			) dt on eit.Equipment_Type = dt.CHILD_TBL_NO
			left outer join WorkOrder_tbl wot ON eit.Equipment_Info_Code = wot.WorkOrder_EquipCode
			where Equipment_Type = 325 and wot.WorkOrder_ONo IS null
			</if>		
	</select> 
	<insert id="insertMachineDao">
		insert into Equipment_Info_tbl values(
			#{EQUIPMENT_BUSINESS_PLACE}, #{EQUIPMENT_INFO_CODE},
		    #{EQUIPMENT_INFO_NAME}, #{EQUIPMENT_INFO_ABR},
		    #{EQUIPMENT_HEIGHT}, #{EQUIPMENT_WIDTH},
		    #{EQUIPMENT_DEPTH}, #{EQUIPMENT_SERIAL_NUM},
		    #{EQUIPMENT_WEIGHT}, #{EQUIPMENT_RECEIVED_D},
		    #{EQUIPMENT_MODEL_YEAR}, #{EQUIPMENT_MANUFACTURER},
		    #{EQUIPMENT_STATUS}, #{EQUIPMENT_INFO_RMARK},
		    #{EQUIPMENT_USE_STATUS}, now(),
		    #{EQUIPMENT_MODIFIER}
		)
	</insert>
		
	<update id="updateMachineDao">
		update Equipment_Info_tbl
			set
			EQUIPMENT_BUSINESS_PLACE = #{EQUIPMENT_BUSINESS_PLACE},
			EQUIPMENT_INFO_NAME = #{EQUIPMENT_INFO_NAME},
			EQUIPMENT_INFO_ABR = #{EQUIPMENT_INFO_ABR},
			EQUIPMENT_HEIGHT = #{EQUIPMENT_HEIGHT},
			EQUIPMENT_WIDTH = #{EQUIPMENT_WIDTH},
			EQUIPMENT_DEPTH = #{EQUIPMENT_DEPTH},
			EQUIPMENT_SERIAL_NUM = #{EQUIPMENT_SERIAL_NUM},
			EQUIPMENT_WEIGHT = #{EQUIPMENT_WEIGHT},
			EQUIPMENT_RECEIVED_D = #{EQUIPMENT_RECEIVED_D},
			EQUIPMENT_MODEL_YEAR = #{EQUIPMENT_MODEL_YEAR},
			EQUIPMENT_MANUFACTURER = #{EQUIPMENT_MANUFACTURER},
			EQUIPMENT_STATUS = #{EQUIPMENT_STATUS},
			EQUIPMENT_INFO_RMARK = #{EQUIPMENT_INFO_RMARK},
			EQUIPMENT_USE_STATUS = #{EQUIPMENT_USE_STATUS},
			EQUIPMENT_MODIFY_D = now(),
			EQUIPMENT_MODIFIER = #{EQUIPMENT_MODIFIER}
			where EQUIPMENT_INFO_CODE = #{EQUIPMENT_INFO_CODE}
	</update>
	
	<delete id="deleteMachineDao">
		delete from Equipment_Info_tbl
			where EQUIPMENT_INFO_CODE= #{machineCode}
	</delete>
</mapper>