<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.standard.dao.UserDao">
	<select id="selectUser" resultType="com.busience.standard.dto.UserDto">
		SELECT 
			A.User_Code, A.User_Password, A.User_Name,
			A.User_Type, B.CHILD_TBL_TYPE USER_Type_Name,
			A.Company, C.CHILD_TBL_TYPE Company_Name,
			A.Dept_Code, D.CHILD_TBL_TYPE Dept_Name,
			A.User_Modifier, A.User_Modify_D,
			A.User_Use_Status, A.User_Regdate
		FROM User_Info_tbl A
		left outer join DTL_TBL B on A.User_Type = B.CHILD_TBL_NO
		left outer join DTL_TBL C on A.Company = C.CHILD_TBL_NO
		left outer join DTL_TBL D on A.Dept_Code = D.CHILD_TBL_NO
		where User_Code = #{User_Code}
	</select>
	
	<select id="selectUserList" resultType="com.busience.standard.dto.UserDto">
		SELECT 
			A.USER_CODE, A.USER_NAME,
			A.USER_TYPE, B.CHILD_TBL_TYPE USER_TYPE_NAME,
			A.COMPANY, C.CHILD_TBL_TYPE COMPANY_NAME,
			A.DEPT_CODE, D.CHILD_TBL_TYPE DEPT_NAME,
			A.USER_MODIFIER, A.USER_MODIFY_D,
			A.USER_USE_STATUS, A.USER_REGDATE
			 FROM User_Info_tbl A
			left outer join DTL_TBL B on A.USER_TYPE = B.CHILD_TBL_NO
			left outer join DTL_TBL C on A.COMPANY = C.CHILD_TBL_NO
			left outer join DTL_TBL D on A.DEPT_CODE = D.CHILD_TBL_NO
	</select>
	
	<insert id="insertUser">
		insert into User_Info_tbl (
				User_Code, User_Password, User_Name, User_Type,
				Company, Dept_Code, User_Modifier, User_Use_Status
			) values(
				#{User_Code}, #{User_Password}, #{User_Name}, #{User_Type},
				#{Company}, #{Dept_Code}, #{User_Modifier}, #{User_Use_Status}
			)
	</insert>
	
	<insert id="insertMenuNewUser">
		insert into Menu_MGMT_tbl
			select #{User_Code}, Rights_Program_Code, Rights_MGMT_Use_Status, Rights_MGMT_Use_Status, Rights_MGMT_Use_Status, Rights_MGMT_Use_Status
			from Rights_MGMT_tbl where Rights_User_Type = #{User_Type}
	</insert>
	
	<update id="updateUser">
		update User_Info_tbl
			set
			User_Name = #{User_Name},
			User_Type = #{User_Type},
			Company = #{Company},
			Dept_Code = #{Dept_Code},
			User_Modifier = #{User_Modifier},
			User_Modify_D = now(),
			User_Use_Status = #{User_Use_Status}
			where User_Code = #{User_Code}
	</update>
	
	<update id="updatePassword">
		update User_Info_tbl
			set
			User_Password = #{User_Password},
			User_Modifier = #{User_Modifier},
			User_Modify_D = now()
			where User_Code = #{User_Code}
	</update>
</mapper>