.popup-box{
	padding:10px 0;
	position: relative;
    left: 70px;
}
.popup-button{
	padding:10px 0;
	position: relative;
    left: 140px;
}
.popup-table{
	margin:20px;
	width:calc(100% - 40px);
	height:calc(100% - 100px);
}