.top-var{
	display: flex;
	justify-content: space-evenly;
}

.popup-box{
	padding:10px 0;
	position: relative;
}
.popup-button{
	padding:10px 0;
	position: relative;
}
.popup-table{
	margin:20px;
	width:calc(100% - 40px);
	height:calc(100% - 100px);
}