<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.busience.monitoring.dao.ProductionStatusMonitoringDao">
	<select id="getProductionMonitoringDao"
		resultType="com.busience.monitoring.dto.ProductionStatusMonitoringDto">
		SELECT CL_ItemCode Prod_ItemCode, CL_MachineCode
		Prod_MachineCode, RIGHT(CL_MachineCode, 1) Right_Prod_MachineCode,
		SUM(CL_Qty) Prod_Qty, CONCAT("(",CL_ItemCode,") " , PRODUCT_ITEM_NAME) Prod_Desc, 
		PRODUCT_INFO_STND_1 Prod_Measure1, D.Child_TBL_Type Prod_Material,
		D1.Child_TBL_Type Prod_Type1, D2.Child_TBL_Type Prod_Type2
		FROM Crate_Lot_tbl
		inner join Product_Info_tbl on CL_ItemCode = Product_Item_Code
		inner join DTL_TBL D ON Product_Material = D.CHILD_TBL_NO
		inner join DTL_TBL D1 ON PRODUCT_ITEM_CLSFC_1 = D1.CHILD_TBL_NO
		inner join DTL_TBL D2 ON PRODUCT_ITEM_CLSFC_2 = D2.CHILD_TBL_NO
		inner JOIN Equip_WorkOrder_tbl eq ON
		eq.Equip_WorkOrder_Code = CL_MachineCode AND eq.Equip_WorkOrder_ItemCode = CL_ItemCode
		WHERE CL_Create_Date > CURDATE()
		GROUP BY CL_ItemCode, CL_MachineCode
		ORDER BY CL_MachineCode
	</select>

	<select id="getWrappingMonitoringDao"
		resultType="com.busience.monitoring.dto.WrappingStatusMonitoringDto">
		SELECT Wrap_RemainQty, Wrap_MachineCode, Wrap_Qty,
		RIGHT(Mach2,1) Right_Wrap_MachineCode,
		CONCAT("(",CC.ItemCode,") " , p.Product_Item_Name) Wrap_Desc,
		p.Product_Info_STND_1 Wrap_Measure1,
		p.Product_Info_STND_2 Wrap_Measure2, D.Child_TBL_Type Wrap_Material, D1.Child_TBL_Type
		Wrap_Type1, D2.Child_TBL_Type Wrap_Type2
		from (SELECT *
		from (SELECT Right(MachineCode,1) Mach2, ItemCode, sum(Qty) Wrap_Qty
		FROM Small_Packaging_tbl
		where Create_Date > CURDATE()
		group by MachineCode) AA
		LEFT outer Join (SELECT CL_MachineCode2 Wrap_MachineCode,
		right(CL_MachineCode2,1) Mach1,
		SUM(CL_ProductionQty) Wrap_RemainQty
		FROM Crate_Lot_tbl CL
		INNER JOIN Crate_tbl C ON C.C_CrateCode = CL.CL_CrateCode AND C.C_Production_LotNo = CL.CL_LotNo AND C.C_Condition = '3'
		WHERE CL_MachineCode2 is not NULL 
		GROUP BY CL_MachineCode2) BB on BB.Mach1 = AA.Mach2) CC
		inner join Product_Info_tbl p on ItemCode = p.Product_Item_Code
		inner join DTL_TBL D ON p.Product_Material = D.CHILD_TBL_NO
		inner join DTL_TBL D1 ON p.PRODUCT_ITEM_CLSFC_1 = D1.CHILD_TBL_NO
		inner join DTL_TBL D2 ON p.PRODUCT_ITEM_CLSFC_2 = D2.CHILD_TBL_NO
		LEFT OUTER JOIN Equip_WorkOrder_tbl eq ON eq.Equip_WorkOrder_Code = 
		Wrap_MachineCode AND eq.Equip_WorkOrder_ItemCode = CC.ItemCode
		ORDER BY Mach2
	</select>
	<select id="getChangedProductionMonitoringDao"
		resultType="com.busience.monitoring.dto.ChangedProductionStatusMonitoringDto">
		SELECT CL_ItemCode Prod_ItemCode, CL_MachineCode
		Prod_MachineCode, RIGHT(CL_MachineCode, 1) Right_Prod_MachineCode,
		SUM(CL_Qty) Prod_Qty, CONCAT("(",CL_ItemCode,") " , PRODUCT_ITEM_NAME) Prod_Desc, 
		PRODUCT_INFO_STND_1 Prod_Measure1, D.Child_TBL_Type Prod_Material,
		D1.Child_TBL_Type Prod_Type1, D2.Child_TBL_Type Prod_Type2
		FROM Crate_Lot_tbl
		inner join Product_Info_tbl on CL_ItemCode = Product_Item_Code
		inner join DTL_TBL D ON Product_Material = D.CHILD_TBL_NO
		inner join DTL_TBL D1 ON PRODUCT_ITEM_CLSFC_1 = D1.CHILD_TBL_NO
		inner join DTL_TBL D2 ON PRODUCT_ITEM_CLSFC_2 = D2.CHILD_TBL_NO
		inner JOIN Equip_WorkOrder_tbl eq ON
		eq.Equip_WorkOrder_Code = CL_MachineCode AND eq.Equip_WorkOrder_ItemCode != CL_ItemCode
		WHERE CL_Create_Date > CURDATE()
		GROUP BY CL_ItemCode, CL_MachineCode
		ORDER BY CL_MachineCode
		LIMIT 3
	</select>

	<select id="getChangedWrappingMonitoringDao"
		resultType="com.busience.monitoring.dto.ChangedWrappingStatusMonitoringDto">
		SELECT Wrap_RemainQty, Wrap_MachineCode, Wrap_Qty,
		RIGHT(Wrap_MachineCode,1) Right_Wrap_MachineCode,
		CONCAT("(",CC.ItemCode,") " , p.Product_Item_Name) Wrap_Desc,
		p.Product_Info_STND_1 Wrap_Measure1,
		p.Product_Info_STND_2 Wrap_Measure2, D.Child_TBL_Type Wrap_Material, D1.Child_TBL_Type
		Wrap_Type1, D2.Child_TBL_Type Wrap_Type2
		from (SELECT *
		from (SELECT Right(MachineCode,1) Mach2, ItemCode, sum(Qty) Wrap_Qty
		FROM Small_Packaging_tbl
		where Create_Date > CURDATE()
		group by MachineCode) AA
		Inner Join (SELECT CL_MachineCode2 Wrap_MachineCode,
		right(CL_MachineCode2,1) Mach1,
		SUM(CL_Qty) Wrap_RemainQty
		FROM Crate_Lot_tbl
		WHERE CL_Update_Date > CURDATE() and CL_MachineCode2 is not NULL
		GROUP BY CL_MachineCode2) BB on BB.Mach1 = AA.Mach2) CC
		inner join Product_Info_tbl p on ItemCode = p.Product_Item_Code
		inner join DTL_TBL D ON p.Product_Material = D.CHILD_TBL_NO
		inner join DTL_TBL D1 ON p.PRODUCT_ITEM_CLSFC_1 = D1.CHILD_TBL_NO
		inner join DTL_TBL D2 ON p.PRODUCT_ITEM_CLSFC_2 = D2.CHILD_TBL_NO
		inner JOIN Equip_WorkOrder_tbl eq ON eq.Equip_WorkOrder_Code =
		Wrap_MachineCode AND eq.Equip_WorkOrder_ItemCode != CC.ItemCode
		ORDER BY CC.Wrap_MachineCode
		LIMIT 3
	</select>
</mapper>