@charset "UTF-8";

.sidebar{
	width: 196px;
	height: calc( 100% - 41px);
	background-color: #252C35;
	position: relative;
	float: left;
	border: solid 0.5px black;
}

.sidebar .pageName{
	background: rgb(91,155,213);
	color:white;
	text-align: center;
	margin-top: 10px;
	padding: 3px;
}

.sidebar .pageName > span{
	font-size: 18px;
}

.sidebar .sidebar-busience {
	padding: 5px;
}
.sidebar .sidebar-busience li > a {
	color: #AEB7C2;
    border-left: 5px solid transparent;
}
.sidebar .sidebar-busience li > a.active{
    border-left-color: #00AAFF;
}
.sidebar .sidebar-busience .sidebar-menu div{
    padding-left: 10px;
}
.sidebar .account-settings {
	width:100%;
	height: 90px;
	background-color: white;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 15px 0;
}
.account-settings input{
	font-size: 13px;
} 