<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.production.dao.LabelPrintDao">
	<select id="rawMaterialLabelSelectDao" resultType="com.busience.production.dto.LabelPrintDto">
		SELECT
			A.LM_LotNo LotNo, A.LM_ItemCode ItemCode, B.Product_Item_Name ItemName,
		    B.Product_Info_STND_1 ItemSTND1, ifnull(D.Cus_Name, "") ClientName,
		    <![CDATA[
		    if(left(B.Product_Item_Name,2)="MB",(
				case
					when substring(#{LotNo},4,2) <=3 then "L01" 
				    when substring(#{LotNo},4,2) <=6 then "L02"
				    when substring(#{LotNo},4,2) <=9 then "L03"
				    else "L04"
				end)
			, "") ItemSTND2
			]]>
		FROM LotMaster_tbl A
		inner join Product_Info_tbl B on A.LM_ItemCode = B.Product_Item_Code
		left outer join InMat_tbl C on A.LM_LotNo = C.InMat_Lot_No and C.InMat_No = '1'
		left outer join Customer_tbl D on C.InMat_Client_Code = D.Cus_Code
		where A.LM_LotNo = #{LotNo}
		and A.LM_Warehouse = #{Warehouse}
	</select>
		
	<select id="smallPackagingLabelSelectDao" resultType="com.busience.production.dto.LabelPrintDto">
		SELECT
			A.Small_Packaging_LotNo, A.ItemCode, B.Product_Item_Name ItemName, sum(A.Qty) Qty,
		    B.Product_Info_STND_1 ItemSTND1, B.Product_Info_STND_2 ItemSTND2,
		    C.Child_TBL_Type ItemMaterial_Name,
		    D.Child_TBL_Type ItemClsfc1_Name, E.Child_TBL_Type ItemClsfc2_Name
		FROM Small_Packaging_tbl A
		inner join Product_Info_tbl B on A.ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on B.Product_Material = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Item_CLSFC_1 = D.Child_TBL_No
		inner join DTL_TBL E on B.Product_Item_CLSFC_2 = E.Child_TBL_No
		where A.Small_Packaging_LotNo = #{Small_Packaging_LotNo}
		group by A.Small_Packaging_LotNo
	</select>
	<select id="largePackagingLabelSelectDao" resultType="com.busience.production.dto.LabelPrintDto">
		SELECT
			A.Sales_Large_Packing_LotNo Small_Packaging_LotNo,
			A.Sales_ItemCode ItemCode, B.Product_Item_Name ItemName,
			sum(A.Sales_Packing_Qty) Qty,
			B.Product_Info_STND_1 ItemSTND1, B.Product_Info_STND_2 ItemSTND2,
			C.Child_TBL_Type ItemMaterial_Name,
			D.Child_TBL_Type ItemClsfc1_Name, E.Child_TBL_Type ItemClsfc2_Name
		FROM Sales_Packing_tbl A
		inner join Product_Info_tbl B on A.Sales_ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on B.Product_Material = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Item_CLSFC_1 = D.Child_TBL_No
		inner join DTL_TBL E on B.Product_Item_CLSFC_2 = E.Child_TBL_No
		where A.Sales_Large_Packing_LotNo = #{Sales_Large_Packing_LotNo}
		group by A.Sales_Large_Packing_LotNo
	</select>	
</mapper>
