<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.busience.production.dao.ProcessInspectDao">
	<select id="processInspectListDao" resultType="com.busience.production.dto.ProcessInspectDto">
		SELECT proit.Process_Inspect_LotNo, proit.Process_Inspect_EquipCode, eit.Equipment_Info_Name as Process_Inspect_EquipName,
			proit.Process_Inspect_ItemCode, pit.Product_Item_Name as Process_Inspect_ItemName, pit.Product_Info_STND_1 as Process_Inspect_STND_NAME_1, 
			dt.Child_TBL_Type as Process_Inspect_Item_Clsfc_Name_1, proit.Process_Inspect_Qty, proit.Process_Inspect_Date, 
			dt2.Child_TBL_Type as Process_Inspect_Worker
		FROM Process_Inspect_tbl proit
		INNER JOIN Equipment_Info_tbl eit ON proit.Process_Inspect_EquipCode = eit.Equipment_Info_Code
		INNER JOIN Product_Info_tbl pit ON proit.Process_Inspect_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON proit.Process_Inspect_Worker = dt2.Child_TBL_No
		<![CDATA[
		WHERE proit.Process_Inspect_Date >= #{startDate} AND proit.Process_Inspect_Date < #{endDate}
		]]>
		AND proit.Process_Inspect_ItemCode LIKE CONCAT('%',#{itemCode},'%')
		AND proit.Process_Inspect_EquipCode LIKE CONCAT('%',#{machineCode},'%')
		GROUP BY proit.Process_Inspect_LotNo
	</select>
	
	<select id="processInspectOneSelectDao" resultType="com.busience.production.dto.ProcessInspectDto">
		select proit.*, eit.Equipment_Info_Name as Process_Inspect_EquipName, 
		pit.Product_Item_Name as Process_Inspect_ItemName, date(clt.CL_Create_Date) as Process_Inspect_Create_Date,
		dt.Child_TBL_Type as Process_Inspect_Worker_Name
		from Process_Inspect_tbl proit
		inner join Equipment_Info_tbl eit ON proit.Process_Inspect_EquipCode = eit.Equipment_Info_Code
		inner join Product_Info_tbl pit ON proit.Process_Inspect_ItemCode = pit.Product_Item_Code
		inner join Crate_Lot_tbl clt ON proit.Process_Inspect_LotNo = clt.CL_LotNo
		inner join DTL_TBL dt ON proit.Process_Inspect_Worker = dt.Child_TBL_No
		where proit.Process_Inspect_LotNo = #{LotNo}
	</select>

	<insert id="processInspectInsertDao">
		insert into Process_Inspect_tbl (
			Process_Inspect_Number, Process_Inspect_LotNo,
			Process_Inspect_EquipCode, Process_Inspect_ItemCode,
			Process_Inspect_Qty, Process_Inspect_Color, Process_Inspect_Date,
			Process_Inspect_Worker, Process_Inspect_Value_1, Process_Inspect_Value_2,
			Process_Inspect_Value_3, Process_Inspect_Value_4, Process_Inspect_Value_5,
			Process_Inspect_STND_1, Process_Inspect_STND_2, Process_Inspect_Status,
			Process_Inspect_Result, Process_Inspect_Remark
		) values (
			#{Process_Inspect_Number}, #{Process_Inspect_LotNo},
			#{Process_Inspect_EquipCode}, #{Process_Inspect_ItemCode},
			#{Process_Inspect_Qty}, #{Process_Inspect_Color}, now(),
			#{Process_Inspect_Worker}, #{Process_Inspect_Value_1}, #{Process_Inspect_Value_2},
			#{Process_Inspect_Value_3}, #{Process_Inspect_Value_4}, #{Process_Inspect_Value_5},
			#{Process_Inspect_STND_1}, #{Process_Inspect_STND_2}, #{Process_Inspect_Status},
			#{Process_Inspect_Result}, #{Process_Inspect_Remark}
		)
	</insert>
</mapper>
