<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.production.dao.ProductionMgmtDao">
	<select id="proItemSumDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, dt.Child_TBL_Type CL_Item_Clsfc_Name_1, 
			dt2.Child_TBL_Type CL_Item_Clsfc_Name_2, dt3.Child_TBL_Type CL_Item_Material, eit.Equipment_Info_Name CL_EquipName, clt.CL_CrateCode, clt.CL_MachineCode, sum(clt.CL_Qty) CL_Qty, date(clt.CL_Create_Date) CL_Create_Date 
		FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		WHERE clt.CL_MachineCode IS NOT NULL
		<![CDATA[
		AND clt.CL_Create_Date >= #{startDate} and clt.CL_Create_Date < #{endDate}
		]]>
		<if test="ItemCode != ''">
		AND pit.Product_Item_Code LIKE CONCAT('%',#{ItemCode},'%')
		</if>
		GROUP BY clt.CL_LotNo WITH rollup
	</select>
	
	<select id="proMachineSumDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, dt.Child_TBL_Type CL_Item_Clsfc_Name_1, 
			dt2.Child_TBL_Type CL_Item_Clsfc_Name_2, dt3.Child_TBL_Type CL_Item_Material, eit.Equipment_Info_Name CL_EquipName, clt.CL_CrateCode, clt.CL_MachineCode, sum(clt.CL_Qty) CL_Qty, date(clt.CL_Create_Date) CL_Create_Date 
		FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		WHERE clt.CL_MachineCode IS NOT NULL
		<![CDATA[
		AND clt.CL_Create_Date >= #{startDate} and clt.CL_Create_Date < #{endDate}
		]]>
		<if test="MachineCode != ''">
		AND eit.Equipment_Info_Code LIKE CONCAT('%',#{MachineCode},'%')
		</if>
		GROUP BY clt.CL_LotNo WITH rollup
	</select>

	<select id="proItemListDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT
		A.PRODUCTION_WorkOrder_No,
		A.PRODUCTION_WorkOrder_ONo,
		A.PRODUCTION_Product_Code,
		B.PRODUCT_ITEM_NAME PRODUCTION_Product_Name,
		A.PRODUCTION_Equipment_Code,
		C.EQUIPMENT_INFO_NAME PRODUCTION_Equipment_Name,
		sum(A.PRODUCTION_Volume) PRODUCTION_Volume,
		A.PRODUCTION_Date
		FROM (
			select * from PRODUCTION_MGMT_TBL2 
			where PRODUCTION_Date >= #{startDate} and PRODUCTION_Date < #{endDate} 
			and PRODUCTION_Product_Code like CONCAT('%', #{itemCode}, '%')
		) A
		inner join (
			select * from PRODUCT_INFO_TBL where PRODUCT_ITEM_NAME like CONCAT('%', #{itemCode}, '%')
		) B on A.PRODUCTION_Product_Code = B.PRODUCT_ITEM_CODE
		inner join EQUIPMENT_INFO_TBL C on A.PRODUCTION_Equipment_Code = C.EQUIPMENT_INFO_CODE
		group by A.PRODUCTION_Product_Code, A.PRODUCTION_WorkOrder_No with rollUp
	]]>
	</select>
	
	<select id="proMachineListDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT
		A.PRODUCTION_WorkOrder_No,
		A.PRODUCTION_WorkOrder_ONo,
		A.PRODUCTION_Product_Code,
		B.PRODUCT_ITEM_NAME PRODUCTION_Product_Name,
		A.PRODUCTION_Equipment_Code,
		C.EQUIPMENT_INFO_NAME PRODUCTION_Equipment_Name,
		sum(A.PRODUCTION_Volume) PRODUCTION_Volume,
		A.PRODUCTION_Date
		FROM (
			select * from PRODUCTION_MGMT_TBL2 
			where PRODUCTION_Date >= #{startDate} and PRODUCTION_Date < #{endDate} 
			and PRODUCTION_Equipment_Code like CONCAT('%', #{machineCode}, '%')
		) A
		inner join PRODUCT_INFO_TBL B on A.PRODUCTION_Product_Code = B.PRODUCT_ITEM_CODE
		inner join (
			select * from EQUIPMENT_INFO_TBL where EQUIPMENT_INFO_NAME like CONCAT('%', #{machineCode}, '%')		
		) C on A.PRODUCTION_Equipment_Code = C.EQUIPMENT_INFO_CODE
		group by A.PRODUCTION_Equipment_Code, A.PRODUCTION_WorkOrder_No with rollUp
	]]>
	</select>
	
	<select id="proMaskSumDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, dt.Child_TBL_Type CL_Item_Clsfc_Name_1, 
			dt2.Child_TBL_Type CL_Item_Clsfc_Name_2, dt3.Child_TBL_Type CL_Item_Material, eit.Equipment_Info_Name CL_EquipName, clt.CL_CrateCode, clt.CL_MachineCode, sum(clt.CL_Qty) CL_Qty, date(clt.CL_Create_Date) CL_Create_Date 
		FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON eit.Equipment_Type = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		<![CDATA[
		WHERE clt.CL_Create_Date >= #{startDate} AND clt.CL_Create_Date < #{endDate} 
		]]>
			AND eit.Equipment_Info_Code LIKE CONCAT('%',#{MachineCode},'%')
			AND dt3.Child_TBL_No = '324'
		GROUP BY clt.CL_LotNo WITH ROLLUP
	</select>
	
	<select id="proPackingSumDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, dt.Child_TBL_Type CL_Item_Clsfc_Name_1, 
			dt2.Child_TBL_Type CL_Item_Clsfc_Name_2, dt3.Child_TBL_Type CL_Item_Material, eit.Equipment_Info_Name CL_EquipName, clt.CL_CrateCode, clt.CL_MachineCode2, sum(clt.CL_Qty) CL_Qty, date(clt.CL_Create_Date) CL_Create_Date 
		FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode2 = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON eit.Equipment_Type = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		<![CDATA[
		WHERE clt.CL_Create_Date >= #{startDate} AND clt.CL_Create_Date < #{endDate} 
		]]>
			AND eit.Equipment_Info_Code LIKE CONCAT('%',#{MachineCode},'%')
			AND dt3.Child_TBL_No = '325'
		GROUP BY clt.CL_LotNo WITH ROLLUP
	</select>
	
	<select id="lotIssueListDao" resultType="com.busience.production.dto.LotIssueDto">
		<choose>
			<when test="LotType == 'mask'">
			SELECT clt.CL_LotNo LI_LotNo, clt.CL_ItemCode LI_ItemCode, clt.CL_Qty LI_Qty, clt.CL_Create_Date LI_Create_Date, 
				pit.Product_Item_Name LI_ItemName, pit.Product_Info_STND_1 LI_Item_STND_1, 
				dt.Child_TBL_Type LI_Item_Material, dt2.Child_TBL_Type LI_Item_Clsfc_1, dt3.Child_TBL_Type LI_Item_Clsfc_2
			FROM Crate_Lot_tbl clt
			INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code
			</when>
			<when test="LotType == 'packing'">
			SELECT lmt.LM_LotNo LI_LotNo, lmt.LM_ItemCode LI_ItemCode, lmt.LM_Qty LI_Qty, lmt.LM_Create_Date LI_Create_Date, 
				pit.Product_Item_Name LI_ItemName, pit.Product_Info_STND_1 LI_Item_STND_1, 
				dt.Child_TBL_Type LI_Item_Material, dt2.Child_TBL_Type LI_Item_Clsfc_1, dt3.Child_TBL_Type LI_Item_Clsfc_2,
				dt4.Child_TBL_Type LI_Status
			FROM LotMaster_tbl lmt
			INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
			</when>
		</choose>
		INNER JOIN DTL_TBL dt ON pit.Product_Material = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_1 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Item_CLSFC_2 = dt3.Child_TBL_No
		<if test="subType == 'mask'">
		<![CDATA[
		WHERE clt.CL_Create_Date >= #{startDate} and clt.CL_Create_Date < #{endDate}
		]]>
			<if test="lotNo != ''">
				AND clt.CL_LotNo LIKE CONCAT ('%',#{LotNo},'%')
			</if>
			<if test="ItemCode != ''">
				AND clt.CL_ItemCode LIKE CONCAT ('%',#{ItemCode},'%')
			</if>
		</if>
		<if test="subType == 'smallBox'">
		<![CDATA[
		INNER JOIN DTL_TBL dt4 ON lmt.LM_Warehouse = dt4.Child_TBL_No
		WHERE lmt.LM_Create_Date >= #{startDate} and lmt.LM_Create_Date < #{endDate}	
		AND lmt.LM_LotNo LIKE CONCAT('S','%')
		]]>
			<if test="lotNo != ''">
				AND lmt.LM_LotNo LIKE CONCAT ('%',#{LotNo},'%')
			</if>
			<if test="ItemCode != ''">
				AND lmt.LM_ItemCode LIKE CONCAT ('%',#{ItemCode},'%')
			</if>
		</if>
		<if test="subType == 'largeBox'">
		<![CDATA[
		INNER JOIN DTL_TBL dt4 ON lmt.LM_Warehouse = dt4.Child_TBL_No
		WHERE lmt.LM_Create_Date >= #{startDate} and lmt.LM_Create_Date < #{endDate}	
		AND lmt.LM_LotNo LIKE CONCAT('L','%')
		]]>
			<if test="lotNo != ''">
				AND lmt.LM_LotNo LIKE CONCAT ('%',#{LotNo},'%')
			</if>
			<if test="ItemCode != ''">
				AND lmt.LM_ItemCode LIKE CONCAT ('%',#{ItemCode},'%')
			</if>
		</if>
	</select>
</mapper>