<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.production.dao.ProductionMgmtDao">
	<select id="proItemSumDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT WorkOrder_No as PRODUCTION_WorkOrder_No, WorkOrder_ONo as PRODUCTION_WorkOrder_ONo, WorkOrder_ItemCode as PRODUCTION_Product_Code, 
		    WorkOrder_EquipCode as PRODUCTION_Equipment_Code, pit.Product_Item_Name as PRODUCTION_Product_Name, eit.Equipment_Info_Name as PRODUCTION_Equipment_Name,
			pit.Product_Info_STND_1 as PRODUCTION_Info_STND_1, dt.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_1, dt2.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_2,
			dt3.Child_TBL_Type as PRODUCTION_Material, sum(WorkOrder_ProductionQty) PRODUCTION_Qty, WorkOrder_StartTime as PRODUCTION_Start_Date, WorkOrder_CompleteTime as PRODUCTION_Date
			, time_format(SEC_TO_TIME(TIMESTAMPDIFF(second,WorkOrder_StartTime,WorkOrder_CompleteTime)),'%H시간 %i분') as PRODUCTION_Total_Work_Time
		FROM WorkOrder_tbl wot
		INNER JOIN Product_Info_tbl pit ON wot.WorkOrder_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON wot.WorkOrder_EquipCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		WHERE WorkOrder_CompleteTime >= #{startDate} AND WorkOrder_CompleteTime < #{endDate} 
			AND WorkOrder_ItemCode LIKE CONCAT('%',#{itemCode},'%') AND pit.Product_Item_Name LIKE CONCAT('%',#{itemName},'%')
		GROUP BY WorkOrder_ONo WITH rollup
	]]>
	</select>
	
	<select id="proMachineSumDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT WorkOrder_No as PRODUCTION_WorkOrder_No, WorkOrder_ONo as PRODUCTION_WorkOrder_ONo, WorkOrder_ItemCode as PRODUCTION_Product_Code, 
		    WorkOrder_EquipCode as PRODUCTION_Equipment_Code, pit.Product_Item_Name as PRODUCTION_Product_Name, eit.Equipment_Info_Name as PRODUCTION_Equipment_Name,
			pit.Product_Info_STND_1 as PRODUCTION_Info_STND_1, dt.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_1, dt2.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_2,
			dt3.Child_TBL_Type as PRODUCTION_Material, sum(WorkOrder_ProductionQty) PRODUCTION_Qty, WorkOrder_StartTime as PRODUCTION_Start_Date, WorkOrder_CompleteTime as PRODUCTION_Date
			, time_format(SEC_TO_TIME(TIMESTAMPDIFF(second,WorkOrder_StartTime,WorkOrder_CompleteTime)),'%H시간 %i분') as PRODUCTION_Total_Work_Time
		FROM WorkOrder_tbl wot
		INNER JOIN Product_Info_tbl pit ON wot.WorkOrder_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON wot.WorkOrder_EquipCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		WHERE WorkOrder_CompleteTime >= #{startDate} AND WorkOrder_CompleteTime < #{endDate} 
			AND WorkOrder_EquipCode LIKE CONCAT('%',#{MachineCode},'%') AND eit.Equipment_Info_Name LIKE CONCAT('%',#{MachineName},'%')
		GROUP BY WorkOrder_ONo WITH rollup
	]]>  
	</select>

	<select id="proItemListDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT
		A.PRODUCTION_WorkOrder_No,
		A.PRODUCTION_WorkOrder_ONo,
		A.PRODUCTION_Product_Code,
		B.PRODUCT_ITEM_NAME PRODUCTION_Product_Name,
		A.PRODUCTION_Equipment_Code,
		C.EQUIPMENT_INFO_NAME PRODUCTION_Equipment_Name,
		sum(A.PRODUCTION_Volume) PRODUCTION_Volume,
		A.PRODUCTION_Date
		FROM (
			select * from PRODUCTION_MGMT_TBL2 
			where PRODUCTION_Date >= #{startDate} and PRODUCTION_Date < #{endDate} 
			and PRODUCTION_Product_Code like CONCAT('%', #{itemCode}, '%')
		) A
		inner join (
			select * from PRODUCT_INFO_TBL where PRODUCT_ITEM_NAME like CONCAT('%', #{itemCode}, '%')
		) B on A.PRODUCTION_Product_Code = B.PRODUCT_ITEM_CODE
		inner join EQUIPMENT_INFO_TBL C on A.PRODUCTION_Equipment_Code = C.EQUIPMENT_INFO_CODE
		group by A.PRODUCTION_Product_Code, A.PRODUCTION_WorkOrder_No with rollUp
	]]>
	</select>
	
	<select id="proMachineListDao" resultType="com.busience.production.dto.ProductionMgmtDto">
	<![CDATA[
		SELECT
		A.PRODUCTION_WorkOrder_No,
		A.PRODUCTION_WorkOrder_ONo,
		A.PRODUCTION_Product_Code,
		B.PRODUCT_ITEM_NAME PRODUCTION_Product_Name,
		A.PRODUCTION_Equipment_Code,
		C.EQUIPMENT_INFO_NAME PRODUCTION_Equipment_Name,
		sum(A.PRODUCTION_Volume) PRODUCTION_Volume,
		A.PRODUCTION_Date
		FROM (
			select * from PRODUCTION_MGMT_TBL2 
			where PRODUCTION_Date >= #{startDate} and PRODUCTION_Date < #{endDate} 
			and PRODUCTION_Equipment_Code like CONCAT('%', #{machineCode}, '%')
		) A
		inner join PRODUCT_INFO_TBL B on A.PRODUCTION_Product_Code = B.PRODUCT_ITEM_CODE
		inner join (
			select * from EQUIPMENT_INFO_TBL where EQUIPMENT_INFO_NAME like CONCAT('%', #{machineCode}, '%')		
		) C on A.PRODUCTION_Equipment_Code = C.EQUIPMENT_INFO_CODE
		group by A.PRODUCTION_Equipment_Code, A.PRODUCTION_WorkOrder_No with rollUp
	]]>
	</select>
	
	<select id="proMaskSumDao" resultType="com.busience.production.dto.ProductionMgmtDto">
		SELECT WorkOrder_No as PRODUCTION_WorkOrder_No, WorkOrder_ONo as PRODUCTION_WorkOrder_ONo, WorkOrder_ItemCode as PRODUCTION_Product_Code, 
		    WorkOrder_EquipCode as PRODUCTION_Equipment_Code, pit.Product_Item_Name as PRODUCTION_Product_Name, eit.Equipment_Info_Name as PRODUCTION_Equipment_Name,
			pit.Product_Info_STND_1 as PRODUCTION_Info_STND_1, dt.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_1, dt2.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_2,
			dt4.Child_TBL_Type as PRODUCTION_Material, sum(WorkOrder_ProductionQty) PRODUCTION_Qty, WorkOrder_StartTime as PRODUCTION_Start_Date, WorkOrder_CompleteTime as PRODUCTION_Date
			, time_format(SEC_TO_TIME(TIMESTAMPDIFF(second,WorkOrder_StartTime,WorkOrder_CompleteTime)),'%H시간 %i분') as PRODUCTION_Total_Work_Time
		FROM WorkOrder_tbl wot
		INNER JOIN Product_Info_tbl pit ON wot.WorkOrder_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON wot.WorkOrder_EquipCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON eit.Equipment_Type = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		<![CDATA[
		WHERE WorkOrder_CompleteTime >= #{startDate} AND WorkOrder_CompleteTime < #{endDate} 
		]]>
			AND WorkOrder_EquipCode LIKE CONCAT('%',#{MachineCode},'%') AND eit.Equipment_Info_Name LIKE CONCAT('%',#{MachineName},'%')
			AND dt3.Child_TBL_No = '324'
		GROUP BY WorkOrder_ONo WITH ROLLUP
	</select>
	
	<select id="proPackingSumDao" resultType="com.busience.production.dto.ProductionMgmtDto">
		SELECT WorkOrder_No as PRODUCTION_WorkOrder_No, WorkOrder_ONo as PRODUCTION_WorkOrder_ONo, WorkOrder_ItemCode as PRODUCTION_Product_Code, 
		    WorkOrder_EquipCode as PRODUCTION_Equipment_Code, pit.Product_Item_Name as PRODUCTION_Product_Name, eit.Equipment_Info_Name as PRODUCTION_Equipment_Name,
			pit.Product_Info_STND_1 as PRODUCTION_Info_STND_1, dt.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_1, dt2.Child_TBL_Type as PRODUCTION_Item_CLSFC_NAME_2,
			dt4.Child_TBL_Type as PRODUCTION_Material, sum(WorkOrder_ProductionQty) PRODUCTION_Qty, WorkOrder_StartTime as PRODUCTION_Start_Date, WorkOrder_CompleteTime as PRODUCTION_Date
			, time_format(SEC_TO_TIME(TIMESTAMPDIFF(second,WorkOrder_StartTime,WorkOrder_CompleteTime)),'%H시간 %i분') as PRODUCTION_Total_Work_Time
		FROM WorkOrder_tbl wot
		INNER JOIN Product_Info_tbl pit ON wot.WorkOrder_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON wot.WorkOrder_EquipCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.PRODUCT_ITEM_CLSFC_1 = dt.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt2 ON pit.PRODUCT_ITEM_CLSFC_2 = dt2.CHILD_TBL_NO
		INNER JOIN DTL_TBL dt3 ON eit.Equipment_Type = dt3.Child_TBL_No
		INNER JOIN DTL_TBL dt4 ON pit.Product_Material = dt4.Child_TBL_No
		<![CDATA[
		WHERE WorkOrder_CompleteTime >= #{startDate} AND WorkOrder_CompleteTime < #{endDate} 
		]]>
			AND WorkOrder_EquipCode LIKE CONCAT('%',#{MachineCode},'%') AND eit.Equipment_Info_Name LIKE CONCAT('%',#{MachineName},'%')
			AND dt3.Child_TBL_No = '325'
		GROUP BY WorkOrder_ONo WITH ROLLUP
	</select>
</mapper>