<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.production.dao.ProResultDao">
	<select id="proResultSelectDao" resultType="com.busience.tablet.dto.CrateLotDto">
		SELECT clt.CL_LotNo, clt.CL_ItemCode, pit.Product_Item_Name CL_ItemName, pit.Product_Info_STND_1 CL_STND_1, pit.Product_Info_STND_2 CL_STND_2,
			dt.Child_TBL_Type CL_Item_Clsfc_Name_1, dt2.Child_TBL_Type CL_Item_Clsfc_Name_2, dt3.Child_TBL_Type CL_Item_Material,
			eit.Equipment_Info_Name CL_EquipName, clt.CL_CrateCode, clt.CL_MachineCode, clt.CL_Qty, CL_Create_Date
			FROM Crate_Lot_tbl clt
		INNER JOIN Product_Info_tbl pit ON clt.CL_ItemCode = pit.Product_Item_Code 
		INNER JOIN Equipment_Info_tbl eit ON clt.CL_MachineCode = eit.Equipment_Info_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		WHERE clt.CL_MachineCode IS NOT NULL
		<![CDATA[
		AND clt.CL_Create_Date >= #{startDate} and clt.CL_Create_Date < #{endDate}
		]]>
		<if test="ItemCode != ''">
		AND pit.Product_Item_Code LIKE CONCAT('%',#{ItemCode},'%')
		</if>
		<if test="MachineCode != ''">
		AND eit.Equipment_Info_Code LIKE CONCAT('%',#{MachineCode},'%')
		</if>
		ORDER BY clt.CL_ItemCode, clt.CL_LotNo
	</select>

	<select id="workOrderDetailDao" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName, A.WorkOrder_EquipCode, C.EQUIPMENT_INFO_NAME WorkOrder_EquipName
			FROM (
				select WorkOrder_ItemCode, WorkOrder_EquipCode
				from WorkOrder_tbl where WorkOrder_ONo = #{WorkOrder_ONo}
			) A
			inner join PRODUCT_INFO_TBL B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
			inner join EQUIPMENT_INFO_TBL C on A.WorkOrder_EquipCode = C.EQUIPMENT_INFO_CODE
	</select>
	
	<update id="proResultUpdateDao">
		update WorkOrder_tbl
			set
			WorkOrder_ProductionQty = #{PRODUCTION_Qty}
			where WorkOrder_ONo = #{PRODUCTION_WorkOrder_ONo}
	</update>
</mapper>