<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.productionLX.dao.WorkOrderDao">
	<select id="workOrderSelectDao" resultType="com.busience.productionLX.dto.WorkOrderDto">
	<![CDATA[
		select 
			A.WorkOrder_No, A.WorkOrder_ONo,
			A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName, B.PRODUCT_INFO_STND_1 WorkOrder_Item_STND_1,
			A.WorkOrder_EquipCode, C.EQUIPMENT_INFO_NAME WorkOrder_EquipName,
			D.Sales_SM_Last_Qty + D.Sales_SM_In_Qty - D.Sales_SM_Out_Qty WorkOrder_SQty, A.WorkOrder_PQty, A.WorkOrder_RQty,
			A.WorkOrder_RegisterTime, A.WorkOrder_ReceiptTime, A.WorkOrder_OrderTime,
			A.WorkOrder_StartTime, A.WorkOrder_CompleteOrderTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus, E.CHILD_TBL_TYPE WorkOrder_WorkStatusName, A.WorkOrder_Remark, A.WorkOrder_Use_Status
			from WorkOrder_tbl A
			inner join PRODUCT_INFO_TBL B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
			inner join EQUIPMENT_INFO_TBL C on A.WorkOrder_EquipCode = C.EQUIPMENT_INFO_CODE
			left outer join Sales_StockMatLX_tbl D on A.WorkOrder_ItemCode = D.Sales_SM_Code
			inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '29') E on A.WorkOrder_WorkStatus = E.CHILD_TBL_NO
			where A.WorkOrder_RegisterTime >= '2021-12-01' and A.WorkOrder_RegisterTime < '2021-12-30' and A.WorkOrder_WorkStatus = '242'
			order by A.WorkOrder_RegisterTime DESC
	]]>
	</select>

	<update id="workOrderUpdateDao">
		update WorkOrder_tbl
			set
			<if test="WorkOrder_PQty == 0">
				WorkOrder_PQty = #{WorkOrder_RQty},
			</if>
			<!-- 
			<if test="WorkOrder_RQty != null">
				WorkOrder_RQty = #{WorkOrder_RQty},
			</if>
			<if test="WorkOrder_OrderTime != null">
				WorkOrder_OrderTime = #{WorkOrder_OrderTime},
			</if>
			<if test="WorkOrder_StartTime != null">
				WorkOrder_StartTime = #{WorkOrder_StartTime},
			</if>
			<if test="WorkOrder_CompleteOrderTime != null">
				WorkOrder_CompleteOrderTime = #{WorkOrder_CompleteOrderTime},
			</if> -->
			WorkOrder_CompleteTime = now(),
			WorkOrder_WorkStatus = #{WorkOrder_WorkStatus}
			where WorkOrder_ONo = #{WorkOrder_ONo} and WorkOrder_EquipCode = #{WorkOrder_EquipCode}
	</update>
	
	<delete id="workOrderDeleteDao">
		delete from WorkOrder_tbl
		where WorkOrder_ONo = #{WorkOrder_ONo}
		and WorkOrder_EquipCode = #{WorkOrder_EquipCode}
	</delete>
</mapper>