<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.production.dao.WorkOrderDao">
	<select id="workOrderSelectDao" resultType="com.busience.production.dto.WorkOrderDto">
	<![CDATA[
		select 
			A.WorkOrder_No, A.WorkOrder_ONo,
			A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName, B.PRODUCT_INFO_STND_1 WorkOrder_INFO_STND_1,
			A.WorkOrder_EquipCode, C.EQUIPMENT_INFO_NAME WorkOrder_EquipName,
			A.WorkOrder_AllottedQty, A.WorkOrder_ProductionQty,
			A.WorkOrder_RegisterTime, A.WorkOrder_ReceiptTime,
			A.WorkOrder_StartTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus, E.CHILD_TBL_TYPE WorkOrder_WorkStatusName, A.WorkOrder_Remark, A.WorkOrder_Use_Status
			from WorkOrder_tbl A
			inner join Product_Info_tbl B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
			inner join Equipment_Info_tbl C on A.WorkOrder_EquipCode = C.EQUIPMENT_INFO_CODE
			inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '29') E on A.WorkOrder_WorkStatus = E.CHILD_TBL_NO
			where A.WorkOrder_RegisterTime >= #{startDate} and A.WorkOrder_RegisterTime < #{endDate} and A.WorkOrder_WorkStatus = '242'
			order by A.WorkOrder_RegisterTime DESC
	]]>
	</select>
	
	<select id="workOrderSubSelectDao" resultType="com.busience.production.dto.WorkOrderDto">
		select 
			A.WorkOrder_No, A.WorkOrder_ONo,
			A.WorkOrder_ItemCode, B.Product_Item_Name WorkOrder_ItemName, B.Product_Info_STND_1 WorkOrder_INFO_STND_1,
			A.WorkOrder_EquipCode, C.Equipment_Info_Name WorkOrder_EquipName,
				if(A.WorkOrder_EquipCode LIKE 'M0%', A.WorkOrder_EquipCode, '') as EQUIPMENT_INFO_CODE,
		   		if(A.WorkOrder_EquipCode LIKE 'M1%', A.WorkOrder_EquipCode, '') as EQUIPMENT_PACK_CODE,
		   		if(A.WorkOrder_EquipCode LIKE 'M0%', C.Equipment_Info_Name, '') as EQUIPMENT_INFO_NAME,
		   		if(A.WorkOrder_EquipCode LIKE 'M1%', C.Equipment_Info_Name, '') as EQUIPMENT_PACK_NAME,
			A.WorkOrder_RegisterTime, A.WorkOrder_StartTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus, D.CHILD_TBL_TYPE WorkOrder_Item_STND_1, G.CHILD_TBL_TYPE WorkOrder_Item_STND_2, E.CHILD_TBL_TYPE WorkOrder_WorkStatusName, A.WorkOrder_Remark, 
			F.User_Name WorkOrder_Worker, A.WorkOrder_Use_Status
			from WorkOrder_tbl A
			inner join Product_Info_tbl B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
			inner join Equipment_Info_tbl C on A.WorkOrder_EquipCode = C.EQUIPMENT_INFO_CODE
			inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '6') D on B.Product_Item_CLSFC_1 = D.CHILD_TBL_NO
			inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '29') E on A.WorkOrder_WorkStatus = E.CHILD_TBL_NO
			inner join User_Info_tbl F on A.WorkOrder_Worker = F.User_Code
			inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '7') G on B.Product_Item_CLSFC_2 = G.CHILD_TBL_NO
			where A.WorkOrder_WorkStatus = '243'
			order by A.WorkOrder_RegisterTime DESC
	</select>
	
	<select id="workOrderCountDao" resultType="int">
		SELECT count(*) FROM WorkOrder_tbl where WorkOrder_EquipCode = #{WorkOrder_EquipCode} and WorkOrder_WorkStatus = '244';
	</select>
	
	<select id="workOrderChoiceSelectDao" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT
			A.WorkOrder_ONo, A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName,
            B.PRODUCT_INFO_STND_1 WorkOrder_Item_STND_1, B.PRODUCT_MULTIPLE WorkOrder_Item_Multiple,
			A.WorkOrder_EquipCode, A.WorkOrder_AllottedQty, A.WorkOrder_ProductionQty,
			A.WorkOrder_RegisterTime, A.WorkOrder_Remark
			FROM WorkOrder_tbl A
			inner join Product_Info_tbl B on A.WorkOrder_ItemCode = B.Product_Item_Code
			where A.WorkOrder_EquipCode = #{MachineCode}
	        and WorkOrder_WorkStatus = (select CHILD_TBL_NO from DTL_TBL where NEW_TBL_CODE = '29' and CHILD_TBL_NUM = '1')
	</select>
	
	<select id="workOrderNoSelectDao" resultType="int">
		SELECT count(*) FROM WorkOrder_tbl where WorkOrder_RegisterTime >= curdate();
	</select>
	
	<select id="workListSearch" resultType="com.busience.production.dto.WorkOrderDto">
	
	    SELECT
			*,
			t2.Product_Item_Name WorkOrder_ItemName,
			t2.Product_Info_STND_1,
			t3.Equipment_Info_Name WorkOrder_EquipName,
			t4.CHILD_TBL_TYPE workOrder_WorkStatusName
			,DATE_FORMAT(a1.WorkOrder_StartTime,'%Y-%m-%d %H:%i') WorkOrder_StartTime2
			,DATE_FORMAT(a1.WorkOrder_CompleteTime,'%Y-%m-%d %H:%i') WorkOrder_CompleteTime2
			,DATE_FORMAT(a1.WorkOrder_RegisterTime,'%Y-%m-%d %H:%i') WorkOrder_RegisterTime2
		FROM
			(
			<![CDATA[
				SELECT
								*
				FROM			WorkOrder_tbl t1
				WHERE			t1.WorkOrder_WorkStatus = '244'
				UNION ALL
				SELECT
								*
				FROM			WorkOrder_tbl t1
				WHERE		WorkOrder_WorkStatus <> '242' AND t1.WorkOrder_WorkStatus <> '244'
 				AND 		WorkOrder_RegisterTime >= #{startDate} and WorkOrder_RegisterTime < #{endDate}	
 			]]>
			)  a1
		INNER JOIN	Product_Info_tbl t2 ON a1.WorkOrder_ItemCode = t2.Product_Item_Code
		INNER JOIN	Equipment_Info_tbl t3 ON a1.WorkOrder_EquipCode = t3.Equipment_Info_Code 
		INNER JOIN  DTL_TBL t4 ON a1.WorkOrder_WorkStatus = t4.CHILD_TBL_NO 
		WHERE 
		<if test="ItemCode == ''">
		   (WorkOrder_ItemCode = '' OR 1=1)
		</if>
		<if test="ItemCode != ''">
		   (WorkOrder_ItemCode = #{ItemCode})
		</if>
		AND		
		<if test="MachineCode == ''">
		   (WorkOrder_EquipCode = '' OR 1=1)
		</if>
		<if test="MachineCode != ''">
			(WorkOrder_EquipCode = #{MachineCode})
		</if>
		ORDER BY WorkOrder_EquipCode,FIELD(a1.WorkOrder_WorkStatus,'244','243','245')

	</select>
	
	<select id="workdListSearch" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT t1.*, t2.CHILD_TBL_Type WorkOrder_WorkStatusName, t4.Equipment_Info_Name WorkOrder_EquipName, t3.Product_Item_Name WorkOrder_ItemName, t3.Product_Info_STND_1 workOrder_INFO_STND_1,
		t5.Child_TBL_Type workOrder_Item_CLSFC_1_Name, t6.Child_TBL_Type workOrder_Item_CLSFC_2_Name
		FROM WorkOrder_tbl t1
		INNER JOIN DTL_TBL t2 ON t1.WorkOrder_WorkStatus = t2.CHILD_TBL_NO
		INNER JOIN Product_Info_tbl t3 ON t1.WorkOrder_ItemCode = t3.Product_Item_Code
		INNER JOIN Equipment_Info_tbl t4 ON t1.WorkOrder_EquipCode = t4.Equipment_Info_Code
		INNER JOIN DTL_TBL t5 ON t3.Product_Item_CLSFC_1 = t5.Child_TBL_No
		INNER JOIN DTL_TBL t6 ON t3.Product_Item_CLSFC_2 = t6.Child_TBL_No
		WHERE
		<if test="StartDate != ''">
		<![CDATA[
			t1.WorkOrder_RegisterTime >= #{StartDate} AND t1.WorkOrder_RegisterTime < #{EndDate}	
		]]>
		</if>
		<if test="StartDate == ''">
			(date(t1.WorkOrder_RegisterTime) = DATE(NOW()) or date(t1.WorkOrder_StartTime) = DATE(NOW()) or date(t1.WorkOrder_CompleteTime) = DATE(NOW()) or WorkOrder_CompleteTime = NULL)
		</if>
		<if test="ItemCode != ''"> 
		and t1.WorkOrder_ItemCode = #{ItemCode}
		</if>
		<if test="MachineCode != ''">
		and t1.WorkOrder_EquipCode = #{MachineCode}
		</if>
		ORDER BY t1.WorkOrder_ONo ASC, t1.WorkOrder_RegisterTime DESC
	</select>
	
	<select id="workOrderCompleteSelectDao" resultType="com.busience.production.dto.WorkOrderDto">
	
		select 
			A.WorkOrder_ONo, A.WorkOrder_EquipCode, A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName,
			B.PRODUCT_INFO_STND_1 WorkOrder_Item_STND_1, A.WorkOrder_ProductionQty,
			A.WorkOrder_OrderTime, A.WorkOrder_ReceiptTime, A.WorkOrder_StartTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus
			from WorkOrder_tbl A
			inner join PRODUCT_INFO_TBL B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
			where A.WorkOrder_EquipCode= #{machineCode}
			and A.WorkOrder_WorkStatus in 
			<foreach collection="statusCodeArr" item="statusCode" open="(" close=")" separator=",">
				#{statusCode}
			</foreach>
	<choose>
		<when test="statusCodeArr[0] == '245'">
		<![CDATA[
			and WorkOrder_CompleteTime >= #{startDate} and WorkOrder_CompleteTime < #{endDate}
		]]>
			Order by WorkOrder_CompleteTime desc;
		</when>
		<otherwise>
			order by WorkOrder_OrderTime desc;
		</otherwise>
	</choose>
	</select>
	
	<select id="workOrderSumQtyDao" resultType="int">
	
		select IFNULL(sum(PRODUCTION_Volume), 0)
			from PRODUCTION_MGMT_TBL2
			where PRODUCTION_Equipment_Code = #{MachineCode}
		<choose>
			<when test="WorkOrderONo != null">
				and PRODUCTION_WorkOrder_ONo = #{WorkOrderONo}
			</when>
			<otherwise>
				<![CDATA[
					and PRODUCTION_Date >= curdate()
				]]>
			</otherwise>
		</choose>	
	</select>	
	
	<select id="lastProductQtyDao" resultType="int">
		select PRODUCTION_Volume from PRODUCTION_MGMT_TBL2
			where PRODUCTION_WorkOrder_ONo = #{PRODUCTION_WorkOrder_ONo}
			and PRODUCTION_Equipment_Code = #{PRODUCTION_Equipment_Code}
			order by PRODUCTION_Date desc
			limit 1
	</select>
	
	<select id="workorderListSelect" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT	
			t1.WorkOrder_No,								
			t1.WorkOrder_ONo,								
			t1.WorkOrder_ItemCode,
			t3.EQUIPMENT_INFO_NAME WorkOrder_EquipName,							
			t1.WorkOrder_EquipCode,	
			t2.PRODUCT_ITEM_NAME WorkOrder_ItemName,												
			DATE_FORMAT(t1.WorkOrder_RegisterTime, '%Y-%m-%d') WorkOrder_RegisterTime,						
			DATE_FORMAT(t1.WorkOrder_ReceiptTime, '%Y-%m-%d') WorkOrder_ReceiptTime,												
			DATE_FORMAT(t1.WorkOrder_StartTime, '%Y-%m-%d') WorkOrder_StartTime,												
			DATE_FORMAT(t1.WorkOrder_CompleteTime, '%Y-%m-%d') WorkOrder_CompleteTime,						
			t1.WorkOrder_WorkStatus,		
			t4.CHILD_TBL_TYPE WorkOrder_WorkStatusName,				
			t1.WorkOrder_Worker,							
			t1.WorkOrder_Remark,
			t2.PRODUCT_INFO_STND_1 WorkOrder_INFO_STND_1,
			t5.Child_TBL_Type WorkOrder_Item_STND_1
			,(select st.S_Qty from Stock_tbl st where st.S_ItemCode=t1.WorkOrder_ItemCode and st.S_Warehouse='52') WorkOrder_SQty
		FROM		WorkOrder_tbl t1
		LEFT JOIN	Product_Info_tbl t2 ON t1.WorkOrder_ItemCode = t2.PRODUCT_ITEM_CODE
		LEFT JOIN	Equipment_Info_tbl t3 ON t1.WorkOrder_EquipCode = t3.EQUIPMENT_INFO_CODE
		LEFT JOIN	DTL_TBL t4 ON t1.WorkOrder_WorkStatus = t4.Child_TBL_No	
		LEFT JOIN   DTL_TBL t5 ON t2.Product_Item_CLSFC_1 = t5.Child_TBL_No	
		<if test="Condition == '242'">
		<![CDATA[
		WHERE			t1.WorkOrder_RegisterTime >= #{startDate} AND t1.WorkOrder_RegisterTime < #{endDate}
		]]>
		</if>
		<if test="Condition == '243'">
		<![CDATA[
		WHERE			t1.WorkOrder_ReceiptTime >= #{startDate} AND t1.WorkOrder_ReceiptTime < #{endDate}
		]]>
		</if>
		AND 			t1.WorkOrder_WorkStatus = #{Condition}
		AND			(t2.PRODUCT_ITEM_CODE like concat('%',#{ItemCode},'%'))
		AND			(t3.EQUIPMENT_INFO_CODE like concat('%',#{MachineCode},'%'))
		ORDER BY 	t1.WorkOrder_RegisterTime DESC, t1.WorkOrder_No DESC
	</select>
	
	<select id="workorderUpdatedList" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT 
					*,
					t2.PRODUCT_ITEM_NAME WorkOrder_ItemName
		FROM WorkOrder_tbl t1
		LEFT JOIN Product_Info_tbl t2
		ON t1.WorkOrder_ItemCode = t2.PRODUCT_ITEM_CODE
		where workOrder_ONo = #{workOrder_ONo}
	</select>
	
	<insert id="workOrderRegisterDao">
		insert into WorkOrder_tbl (
			WorkOrder_No, WorkOrder_ONo, WorkOrder_ItemCode, WorkOrder_EquipCode,
		    WorkOrder_RegisterTime, WorkOrder_ReceiptTime,
			WorkOrder_WorkStatus, WorkOrder_Worker, WorkOrder_Remark
		) values (
			#{WorkOrder_No},#{WorkOrder_ONo},#{WorkOrder_ItemCode},#{WorkOrder_EquipCode},
			now(), #{WorkOrder_ReceiptTime},
			#{WorkOrder_WorkStatus}, #{WorkOrder_Worker}, #{WorkOrder_Remark}
		) on duplicate key update
		WorkOrder_ONo = #{WorkOrder_ONo},
		WorkOrder_ItemCode = #{WorkOrder_ItemCode},
		WorkOrder_EquipCode = #{WorkOrder_EquipCode},
		WorkOrder_Worker = #{WorkOrder_Worker}
	</insert>
	
	<insert id="workOrderInsertDao">
		insert into WorkOrder_tbl (
			WorkOrder_No, WorkOrder_ONo, WorkOrder_ItemCode,
		    WorkOrder_EquipCode, WorkOrder_AllottedQty,
		    WorkOrder_RegisterTime, WorkOrder_ReceiptTime,
		    WorkOrder_StartTime, 
		    WorkOrder_WorkStatus, WorkOrder_Worker, WorkOrder_Remark
		) values (
			#{WorkOrder_No}, #{WorkOrder_ONo}, #{WorkOrder_ItemCode},
		    #{WorkOrder_EquipCode}, #{WorkOrder_AllottedQty},
		    now(), #{WorkOrder_ReceiptTime},
		  	#{WorkOrder_StartTime}, 
		    #{WorkOrder_WorkStatus}, #{WorkOrder_Worker}, #{WorkOrder_Remark}
		)on duplicate key update
		WorkOrder_ONo = #{NewWorkOrder_ONo},
		WorkOrder_ItemCode = #{WorkOrder_ItemCode},
		WorkOrder_EquipCode = #{WorkOrder_EquipCode},
		WorkOrder_AllottedQty = #{WorkOrder_AllottedQty},
		WorkOrder_Worker = #{WorkOrder_Worker},
		WorkOrder_Remark = #{WorkOrder_Remark}
	</insert>

	<update id="workOrderUpdateDao">
		update WorkOrder_tbl
			set
			<if test='WorkOrder_WorkStatus_Name == "Y"'>
				WorkOrder_ReceiptTime = now(),
			</if>
			<if test='WorkOrder_WorkStatus_Name == "S"'>
				WorkOrder_StartTime = now(),
			</if>
			<if test='WorkOrder_WorkStatus_Name == "E"'>
				<choose>
					<when test="WorkOrder_PQty == 0">
						WorkOrder_AllottedQty = #{WorkOrder_ProductionQty},
						WorkOrder_ProductionQty = #{WorkOrder_ProductionQty},
					</when>
					<otherwise>
						WorkOrder_AllottedQty = #{WorkOrder_AllottedQty},
						WorkOrder_ProductionQty = #{WorkOrder_ProductionQty},
					</otherwise>
				</choose>	
				WorkOrder_CompleteTime = now(),
			</if>
			WorkOrder_WorkStatus = #{WorkOrder_WorkStatus}
			where WorkOrder_ONo = #{WorkOrder_ONo} and WorkOrder_EquipCode = #{WorkOrder_EquipCode}
	</update>
	
	<update id="workOrderStockUpdateDao">
		insert into Sales_StockMat_tbl (
			SM_Code, SM_Last_Qty, SM_In_Qty, SM_Out_Qty, SM_Prcs_Date
			) values (
			#{WorkOrder_ItemCode}, 0, #{WorkOrder_ProductionQty}, 0, '2201'
			)
			on duplicate key update
			SM_In_Qty = SM_In_Qty + #{WorkOrder_RQty}
	</update>
	
	<update id="lastProductModifyDao">
		update PRODUCTION_MGMT_TBL2
			set
			PRODUCTION_Volume = #{PRODUCTION_Volume}
			where PRODUCTION_WorkOrder_ONo = #{PRODUCTION_WorkOrder_ONo}
			and PRODUCTION_Equipment_Code = #{PRODUCTION_Equipment_Code}
			order by PRODUCTION_Date desc
			limit 1
	</update>
	
	<update id="workOrderQtyUpdateDao">
		update WorkOrder_tbl
			set
			<if test="workOrder_Remark == 'AUTO'">
				WorkOrder_AllottedQty = #{WorkOrder_ProductionQty},
			</if>
			WorkOrder_ProductionQty = #{WorkOrder_ProductionQty}
			where WorkOrder_ONo = #{WorkOrder_ONo} and WorkOrder_EquipCode = #{WorkOrder_EquipCode}
	</update>
	
	<update id="workorderlistUpdate">
		update WorkOrder_tbl 
		<if test="WorkStatus == '242'">
		set WorkOrder_WorkStatus = '243', WorkOrder_ReceiptTime = NOW(),
   		    WorkOrder_Worker = #{modifier}
        where workOrder_ONo = #{WorkOrder_ONo}
        and WorkOrder_WorkStatus = #{WorkStatus}
        </if>
        <if test="WorkStatus == '243'">
        set WorkOrder_WorkStatus = '242', WorkOrder_ReceiptTime = NOW(),
   		    WorkOrder_Worker = #{modifier}
        where workOrder_ONo = #{WorkOrder_ONo}
        and WorkOrder_WorkStatus = #{WorkStatus}
        </if>
	</update>
	
	<delete id="workOrderDeleteDao">
		delete from WorkOrder_tbl
		where WorkOrder_EquipCode = #{WorkOrder_EquipCode}
	</delete>
	
	<select id="workingSelectByMachineDao" resultType="com.busience.production.dto.WorkOrderDto">
		SELECT
			A.WorkOrder_No, A.WorkOrder_ONo, A.WorkOrder_ItemCode, B.Product_Item_Name WorkOrder_ItemName,
            B.Product_Info_STND_1 WorkOrder_Item_STND_1, B.Product_Info_STND_2 WorkOrder_Item_STND_2,
            B.Product_Item_CLSFC_1, B.Product_Item_CLSFC_2,
			A.WorkOrder_EquipCode, C.Equipment_Info_Name WorkOrder_EquipName,
            A.WorkOrder_ProductionQty, A.WorkOrder_AllottedQty,
			A.WorkOrder_RegisterTime, A.WorkOrder_StartTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus, D.Child_TBL_Type WorkOrder_WorkStatus_Name, A.WorkOrder_Worker,
            A.WorkOrder_Remark, A.WorkOrder_Use_Status 
		FROM WorkOrder_tbl A
        inner join Product_Info_tbl B on A.WorkOrder_ItemCode = B.Product_Item_Code
        inner join Equipment_Info_tbl C on A.WorkOrder_EquipCode = C.Equipment_Info_Code
        inner join DTL_TBL D on A.WorkOrder_WorkStatus = D.Child_TBL_No
		where A.WorkOrder_WorkStatus in (select Child_TBL_No from DTL_TBL where New_TBL_Code ='29' and Child_TBL_Num in (0, 1, 2, 3))
		<if test="machineCode != null">
			and A.WorkOrder_EquipCode = #{machineCode}
		</if>
		<if test="itemCode != null and itemCode != ''">
			and A.WorkOrder_ItemCode = #{itemCode}
		</if>
		order by A.WorkOrder_EquipCode, A.WorkOrder_RegisterTime
		<if test="condition != null">
			limit 2
		</if>
	</select>
	
	<update id="workOrderStatusUpdateDao">
		update WorkOrder_tbl
			set
			<if test='WorkOrder_WorkStatus_Name == "Y"'>
				WorkOrder_ReceiptTime = now(),
			</if>
			<if test='WorkOrder_WorkStatus_Name == "S"'>
				WorkOrder_StartTime = now(),
			</if>
			<if test='WorkOrder_WorkStatus_Name == "E"'>
				WorkOrder_CompleteTime = now(),
			</if>
			WorkOrder_WorkStatus = #{WorkOrder_WorkStatus}
			where WorkOrder_ONo = #{WorkOrder_ONo}
	</update>
	
	<update id="workOrderFinalUpdate">
		update WorkOrder_tbl
		set WorkOrder_WorkStatus = '245', WorkOrder_ReceiptTime = NOW(),
			WorkOrder_StartTime = NOW(), WorkOrder_CompleteTime = NOW(),
   		    WorkOrder_Worker = #{WorkOrder_Worker}
        where workOrder_ONo = #{WorkOrder_ONo}
	</update>
	
	<select id="workOrderMonitoringSelectDao" resultType="com.busience.production.dto.WorkOrderDto">
		select 
			A.WorkOrder_No, A.WorkOrder_ONo,
			A.WorkOrder_ItemCode, B.PRODUCT_ITEM_NAME WorkOrder_ItemName, B.PRODUCT_INFO_STND_1 WorkOrder_INFO_STND_1,
			A.WorkOrder_EquipCode, C.EQUIPMENT_INFO_NAME WorkOrder_EquipName,
			A.WorkOrder_AllottedQty, A.WorkOrder_ProductionQty,
			A.WorkOrder_RegisterTime, A.WorkOrder_ReceiptTime,
			A.WorkOrder_StartTime, A.WorkOrder_CompleteTime,
			A.WorkOrder_WorkStatus, E.CHILD_TBL_TYPE WorkOrder_WorkStatus_Name, A.WorkOrder_Remark, A.WorkOrder_Use_Status
		from WorkOrder_tbl A
		inner join Product_Info_tbl B on A.WorkOrder_ItemCode = B.PRODUCT_ITEM_CODE
		inner join Equipment_Info_tbl C on A.WorkOrder_EquipCode = C.EQUIPMENT_INFO_CODE
		inner join (SELECT * FROM DTL_TBL where NEW_TBL_CODE = '29') E on A.WorkOrder_WorkStatus = E.CHILD_TBL_NO
		where A.WorkOrder_WorkStatus in (244, 245)
		and A.WorkOrder_EquipCode = #{machineCode}
		order by A.WorkOrder_CompleteTime is null desc, A.WorkOrder_CompleteTime desc
		limit 5
	</select>
</mapper>