<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.busience.material.dao.LotMasterDao">

	<select id="stockTransSelectDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT
			A.LM_LotNo, A.LM_ItemCode, B.Product_Item_Name LM_ItemName,
			A.LM_Qty, A.LM_Qty lm_TransQty, A.LM_Create_Date,
			A.LM_Warehouse, C.Child_TBL_Type LM_Warehouse_Name,
			B.Product_Info_STND_1 LM_STND_1, B.Product_Info_STND_2 LM_STND_2,
			D.Child_TBL_Type LM_Item_Unit_Name, E.Child_TBL_Type LM_Item_Material_Name
		FROM LotMaster_tbl A
		inner join Product_Info_tbl B on A.LM_ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on A.LM_Warehouse = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Unit = D.Child_TBL_No
		inner join DTL_TBL E on B.Product_Material = E.Child_TBL_No
		where A.LM_Qty > 0
		and B.Product_MTRL_CLSFC in ('24','25','26')
		and A.LM_Warehouse != '50'
       	and A.LM_LotNo like concat('%',#{lotNo},'%')
	</select>
	
	<select id="lotMasterMaterialSelectDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT
			A.LM_LotNo, A.LM_ItemCode, B.Product_Item_Name LM_ItemName,
			A.LM_Qty, A.LM_Create_Date, A.LM_Warehouse, C.Child_TBL_Type LM_Warehouse_Name,
			B.Product_Info_STND_1 LM_STND_1, B.Product_Info_STND_2 LM_STND_2,
			D.Child_TBL_Type LM_Item_Unit_Name, E.Child_TBL_Type LM_Item_Material_Name
		FROM LotMaster_tbl A
		inner join Product_Info_tbl B on A.LM_ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on A.LM_Warehouse = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Unit = D.Child_TBL_No
		inner join DTL_TBL E on B.Product_Material = E.Child_TBL_No
		where A.LM_Qty > 0
		and B.Product_MTRL_CLSFC in ('24','25','26')
		and A.LM_ItemCode like concat('%',#{itemCode},'%')
       	and A.LM_LotNo like concat('%',#{lotNo},'%')
	</select>

	<insert id="lotMasterInsertUpdateDao">
		insert into LotMaster_tbl(
			LM_LotNo, LM_ItemCode,
			LM_Qty, LM_Create_Date, LM_Warehouse
		)values(
			#{LM_LotNo}, #{LM_ItemCode},
			#{LM_Qty}, now(), #{LM_Warehouse}
		)on duplicate key update
		LM_Qty = LM_Qty + #{LM_Qty}
	</insert>
	
	<select id="lotMasterMatSelectDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT
			A.LM_LotNo, A.LM_ItemCode, A.LM_Qty,
		    A.LM_Create_Date, B.InMat_Client_Code LM_ClientCode,
		    C.Cus_Name LM_ClientName, A.LM_Warehouse
		FROM LotMaster_tbl A
		left outer JOIN InMat_tbl B ON A.LM_LotNo = B.InMat_Lot_No and InMat_No = '1'
		left outer JOIN Customer_tbl C ON B.InMat_Client_Code = C.Cus_Code
		left outer JOIN DTL_TBL D ON B.InMat_Rcv_Clsfc = D.Child_TBL_No and D.New_TBL_Code = '17'
		where A.LM_Qty > 0
		<if test="ItemCode != null">
			and A.LM_ItemCode = #{itemCode}
		</if>
		<if test="warehouse != null">
       		and A.LM_Warehouse = #{warehouse}
       	</if>
	</select>
	
	<select id="lotMasterSelectDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT
			A.LM_LotNo, A.LM_ItemCode, B.Product_Item_Name LM_ItemName,
		    A.LM_Qty, A.LM_Create_Date, A.LM_Warehouse, C.Child_TBL_Type LM_Warehouse_Name,
		    B.Product_Info_STND_1 LM_STND_1, B.Product_Info_STND_2 LM_STND_2,
		    D.Child_TBL_Type LM_Item_Unit_Name, E.Child_TBL_Type LM_Item_Material_Name
		FROM LotMaster_tbl A
		inner join Product_Info_tbl B on A.LM_ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on A.LM_Warehouse = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Unit = D.Child_TBL_No
		inner join DTL_TBL E on B.Product_Material = E.Child_TBL_No
		where A.LM_Qty > 0
       	<if test="LotNo != null">
       		and A.LM_LotNo = #{LotNo}
       	</if>
       	<if test="itemCode != null">
       		and A.LM_ItemCode = #{itemCode}
       	</if>
       	<if test="warehouse != null">
       		and A.LM_Warehouse = #{warehouse}
       	</if>
	</select>
	
	<select id="salesOutputLotMasterDao" resultType="com.busience.material.dto.LotMasterDto">
		select 
			LM_LotNo, LM_ItemCode, pit.Product_Item_Name LM_ItemName,
			pit.Product_Info_STND_1 LM_STND_1, pit.Product_Info_STND_2 LM_STND_2, 
			dt.Child_TBL_Type LM_Item_CLSFC_1, dt2.Child_TBL_Type LM_Item_CLSFC_2, dt3.Child_TBL_Type LM_Item_Material,
			LM_Qty
		from LotMaster_tbl lmt 
		inner join Product_Info_tbl pit on lmt.LM_ItemCode = pit.Product_Item_Code 
		LEFT OUTER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		LEFT OUTER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		LEFT OUTER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		where lmt.LM_Qty > 0 and lmt.LM_Warehouse='52' and lmt.LM_LotNo like concat('S','%')
		<if test="ItemCode != null">
		and lmt.LM_ItemCode = #{ItemCode}
		</if>
		<if test="LotNo != null">
		and lmt.LM_LotNo like concat('%',#{LotNo},'%') 
		</if>
	</select>
	
	<select id="salesInputLotMasterSelectDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT 
			lmt.*, pit.Product_Item_Name LM_ItemName, pit.Product_Info_STND_1 LM_STND_1, dt.Child_TBL_Type LM_Item_CLSFC_1, spt.Sales_Small_Packing_LotNo
		FROM LotMaster_tbl lmt
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		LEFT OUTER JOIN Sales_Packing_tbl spt ON lmt.LM_LotNo = spt.Sales_Small_Packing_LotNo
		WHERE lmt.LM_Qty != 0 
		AND lmt.LM_LotNo = #{LM_LotNo} 
		AND lmt.LM_LotNo LIKE 'S%'
		AND lmt.LM_Warehouse = '51'
		AND spt.Sales_Small_Packing_LotNo is null
	</select>
	
	<select id="salesItemListDao" resultType="com.busience.material.dto.LotMasterDto">
		SELECT 
			distinct lmt.*, pit.Product_Item_Name LM_ItemName, pit.Product_Info_STND_1 LM_STND_1, dt.Child_TBL_Type LM_Item_CLSFC_1, 
			dt2.Child_TBL_Type AS LM_Item_CLSFC_2, dt3.Child_TBL_Type AS LM_Item_Material, iit.ItemPack_Inspect_LotNo,
			iit.ItemPack_Inspect_ItemCode LM_Inspect_Code
		FROM LotMaster_tbl lmt
		INNER JOIN Product_Info_tbl pit ON lmt.LM_ItemCode = pit.Product_Item_Code
		INNER JOIN DTL_TBL dt ON pit.Product_Item_CLSFC_1 = dt.Child_TBL_No
		INNER JOIN DTL_TBL dt2 ON pit.Product_Item_CLSFC_2 = dt2.Child_TBL_No
		INNER JOIN DTL_TBL dt3 ON pit.Product_Material = dt3.Child_TBL_No
		LEFT OUTER JOIN ItemPack_Inspect_tbl iit ON lmt.LM_LotNo = iit.ItemPack_Inspect_LotNo
		WHERE lmt.LM_Qty != 0 
		<if test="LotNo != ''">
		AND lmt.LM_LotNo = #{LotNo} 
		</if>
		<if test="ItemCode != ''">
		AND lmt.LM_ItemCode = #{ItemCode}
		</if>
		<![CDATA[
		AND lmt.LM_Create_Date >= #{startDate} and lmt.LM_Create_Date < #{endDate}
		]]>
		AND lmt.LM_LotNo LIKE 'S%'
		AND lmt.LM_Warehouse = '51'
		AND iit.ItemPack_Inspect_LotNo is null
	</select>
	
	<insert id="lotMasterInsertDao">
		insert into LotMaster_tbl(
			LM_LotNo, LM_ItemCode,
			LM_Qty, LM_Create_Date, LM_Warehouse
		)values(
			#{OM_LotNo}, #{OM_ItemCode},
			#{OM_Qty}, now(), #{OM_Warehouse}
		)on duplicate key update
		LM_Qty = LM_Qty + #{OM_Qty}
	</insert>
	
	<insert id="salesLotMasterInsertUpdateDao">
		insert into LotMaster_tbl(
			LM_LotNo, LM_ItemCode,
			LM_Qty, LM_Create_Date, LM_Warehouse
		)values(
			#{LM_LotNo}, #{LM_ItemCode},
			#{LM_Qty}, now(), #{LM_Warehouse}
		)on duplicate key update
		LM_Qty = LM_Qty + #{LM_Qty}
	</insert>
	
	<update id="lotMasterUpdateDao">
		update LotMaster_tbl
		set
		LM_Qty = LM_Qty + #{LM_Qty}
		where LM_LotNo = #{LM_LotNo}
		and LM_Warehouse = #{LM_Warehouse}
	</update>
</mapper>