<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.material.dao.LotNoDao">

	<select id="rawlotNoSelectDao" resultType="String">
		select
			concat('R',DATE_FORMAT(#{inputDate},"%y%m%d"),#{itemCode}, lpad(A.LotNo,'4',0))
		from (
			SELECT
				if(ifnull(max(right(LM_LotNo,4)),0) = '9999', 1, ifnull(max(right(LM_LotNo,4)),0)+1) LotNo
			FROM LotMaster_tbl
			where left(LM_LotNo,13) = concat('R',DATE_FORMAT(#{inputDate},"%y%m%d"),#{itemCode})
		) A
	</select>
	
	<select id="crateLotNoSelectDao" resultType="String">
		SELECT
			concat('N', DATE_FORMAT(now(),"%y%m%d"), #{itemCode}, lpad(matarial_No,'4',0))
		from LotNo_tbl
	</select>
	
	<select id="crateLotNoSelect2Dao" resultType="String">
		select
			concat('N',DATE_FORMAT(#{inputDate},"%y%m%d"),#{itemCode}, lpad(A.LotNo,'4',0))
		from (
			SELECT
				if(ifnull(max(right(CL_LotNo,4)),0) = '9999', 1, ifnull(max(right(CL_LotNo,4)),0)+1) LotNo
			FROM Crate_Lot_tbl
			where left(CL_LotNo,13) = concat('N',DATE_FORMAT(#{inputDate},"%y%m%d"),#{itemCode})
		) A
	</select>
	
	<select id="smallLotNoSelectDao" resultType="String">
		SELECT
			concat('S', DATE_FORMAT(now(),"%y%m%d"), #{itemCode}, lpad(matarial_No,'4',0))
		from LotNo_tbl
	</select>
	
	<select id="largeLotNoSelectDao" resultType="String">
		SELECT
			concat('L', DATE_FORMAT(now(),"%y%m%d"), #{itemCode}, lpad(matarial_No,'4',0))
		from LotNo_tbl
	</select>

	<update id="lotNoMatUpdateDao">
		update LotNo_tbl
		set
		pre_matarial_No = (case when matarial_No = 9999 then matarial_No else pre_matarial_No end),
		matarial_No = (case when matarial_No = 9999 then 1 else matarial_No+1 end)
	</update>
	
</mapper>