<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.material.dao.MatInputDao">

	<select id="LotNoSelectDao" resultType="String">
		select concat(DATE_FORMAT(curdate(),"%y%m%d"), #{InMat_Code}, lpad(matarial_No,'4',0))
		from LotNo_tbl
	</select>

	<insert id="LotMasterInsertDao">
		insert into LotMaster_tbl(
			LM_LotNo, LM_ItemCode,
			LM_Qty, LM_Create_Date
		)values(
			#{InMat_Lot_No}, #{InMat_Code},
			#{InMat_Qty}, now()
		)
	</insert>
	
	<select id="LotTransNoSelectDao" resultType="int">
		select ifnull(max(LT_No)+1,1)
		from LotTrans_tbl
		where LT_LotNo = #{InMat_Lot_No}
	</select>
	
	<insert id="LotTransInsertDao">
		insert into LotTrans_tbl (
			LT_No, LT_LotNo, LT_ItemCode,
			LT_Qty, LT_Create_Date
		) values(
			#{InMat_No}, #{InMat_Lot_No}, #{InMat_Code},
			#{InMat_Qty}, now()
		)
	</insert>

	<insert id="inMatInsertDao">
		insert into InMat_tbl(
			InMat_Lot_No, InMat_No, InMat_Order_No,  
		    InMat_Code, InMat_Qty, InMat_Unit_Price,
		    InMat_Price, InMat_Client_Code, InMat_Date,
		    InMat_Rcv_Clsfc, InMat_dInsert_Time, InMat_Modifier
		) values (
			#{InMat_Lot_No}, #{InMat_No}, #{InMat_Order_No},
		    #{InMat_Code}, #{InMat_Qty}, #{InMat_Unit_Price},
		    #{InMat_Price}, #{InMat_Client_Code}, #{InMat_Date},
		    #{InMat_Rcv_Clsfc}, now(), #{InMat_Modifier}
		)
	</insert>
	
	<update id="orderListUpdateDao">
			update OrderList_tbl
			set
			Order_lSum = Order_lSum + #{InMat_Qty},
			Order_lUnit_Price = #{InMat_Unit_Price},
			Order_lPrice = Order_lQty * Order_lUnit_Price,
			Order_lNot_Stocked = Order_lNot_Stocked - #{InMat_Qty},
			Order_Rcv_Clsfc = #{InMat_Rcv_Clsfc}
			where Order_lCus_No = #{InMat_Order_No}
			and Order_lCode = #{InMat_Code}
	</update>
	
	<update id="stockMatUpdateDao">
		insert into Stock_tbl(
			S_itemCode, S_Qty,
			S_WareHouse
		) values(
			#{InMat_Code}, #{InMat_Qty},
			(select Child_TBL_No from DTL_TBL where New_TBL_Code = '10' and Child_TBL_Num = '1')
		)on duplicate key update
			S_Qty = S_Qty + #{InMat_Qty}
	</update>
	
	<update id="matOrderMasterUpdateDao">
			update OrderMaster_tbl
			set Order_mCheck = 
				(select 
					(case
						when sum(Order_lQty) = sum(Order_lSum) then 'Y'
						when sum(Order_lSum) = 0 then 'N'
						else 'I'
					end)
					from OrderList_tbl
					where Order_lCus_No = #{inMat_Order_No}
				)
			where Order_mCus_No = #{inMat_Order_No}
	</update>
	
	<update id="matLotNoUpdateDao">
		update LotNo_tbl
		set
		pre_matarial_No = (case when matarial_No = 9999 then matarial_No else pre_matarial_No end),
		matarial_No = (case when matarial_No = 9999 then 1 else matarial_No+1 end)
	</update>
</mapper>