<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.material.dao.OrderListDao">

	<select id="orderListSelectDao" resultType="com.busience.material.dto.OrderListDto">
		SELECT 
			A.Order_lNo, A.Order_lCus_No,
			B.PRODUCT_ITEM_NAME Order_lName, A.Order_lCode,
			B.PRODUCT_INFO_STND_1 Order_STND_1, E.Child_TBL_Type as Order_Product_Unit,
			A.Order_lQty, A.Order_lSum, A.Order_lUnit_Price,
			A.Order_lPrice, A.Order_lNot_Stocked, D.Order_mDlvry_Date as Order_Dlvry_Date,
			A.Order_Rcv_Clsfc, C.Child_TBL_Type Order_Rcv_Clsfc_Name,
			A.Order_lInfo_Remark
		FROM OrderList_tbl A
		inner join Product_Info_tbl B on A.Order_lCode = B.PRODUCT_ITEM_CODE
		inner join DTL_TBL C on A.Order_Rcv_Clsfc = C.Child_TBL_No
		inner join OrderMaster_tbl D on A.Order_lCus_No = D.Order_mCus_No
		inner join DTL_TBL E on B.Product_Unit = E.Child_TBL_No
		where Order_lCus_No = #{OrderNo}
		Order by Order_lNo
	</select>
	
	<insert id="orderListInsertUpdateDao">
		insert into OrderList_tbl(
			Order_lNo,
			Order_lCus_No, Order_lCode,
		    Order_lQty, Order_lSum, Order_lUnit_Price,
		    Order_lPrice, Order_lNot_Stocked,
		    Order_Rcv_Clsfc, Order_lInfo_Remark
		)values(
			(select ifnull(max(AA.Order_lNo)+1,1) from OrderList_tbl AS AA where AA.Order_lCus_No = #{Order_lCus_No}),
			#{Order_lCus_No}, #{Order_lCode},
		    #{Order_lQty}, #{Order_lSum}, #{Order_lUnit_Price},
		    #{Order_lPrice}, #{Order_lQty},
		    #{Order_Rcv_Clsfc}, #{Order_lInfo_Remark}
		)on duplicate key update
		Order_lQty = #{Order_lQty},
		Order_lUnit_Price = #{Order_lUnit_Price},
		Order_lPrice = #{Order_lPrice},
		Order_lNot_Stocked = #{Order_lQty},
		Order_Rcv_Clsfc = #{Order_Rcv_Clsfc},
		Order_lInfo_Remark = #{Order_lInfo_Remark}
	</insert>
	
	<update id="orderListUpdateDao">
			update OrderList_tbl
			set
			Order_lSum = Order_lSum + #{InMat_Qty},
			Order_lUnit_Price = #{InMat_Unit_Price},
			Order_lPrice = Order_lQty * Order_lUnit_Price,
			Order_lNot_Stocked = Order_lNot_Stocked - #{InMat_Qty},
			Order_Rcv_Clsfc = #{InMat_Rcv_Clsfc}
			where Order_lCus_No = #{InMat_Order_No}
			and Order_lCode = #{InMat_Code}
	</update>
	
	<delete id="orderListDeleteDao">
		delete from OrderList_tbl
		where Order_lCus_No = #{Order_lCus_No}
		and Order_lCode = #{Order_lCode}
	</delete>
</mapper>