<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.material.dao.RequestSubDao">

	<select id="requestSubSelectDao" resultType="com.busience.material.dto.RequestSubDto">
		select 
			A.RS_RequestNo,
			A.RS_ItemCode, B.Product_Item_Name RS_ItemName,
			A.RS_Qty, A.RS_Sum, A.RS_Not_Stocked,
			A.RS_Send_Clsfc, C.Child_TBL_Type RS_Send_Clsfc_Name,
			A.RS_Remark
		from RequestSub_tbl A
		inner join Product_Info_tbl B on A.RS_ItemCode = B.Product_Item_Code
		inner join DTL_TBL C on A.RS_Send_Clsfc = C.Child_TBL_No
		WHERE A.RS_RequestNo = #{OrderNo}
		order by RS_ItemCode
	</select>
	
	<insert id="requestSubInsertDao">
		insert into RequestSub_tbl(
			RS_RequestNo, RS_ItemCode,
			RS_Qty, RS_Sum, RS_Not_Stocked,
			RS_Send_Clsfc, RS_Remark
		)values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{requestNo}, #{item.RS_ItemCode},
			#{item.RS_Qty}, #{item.RS_Sum}, #{item.RS_Qty},
			#{item.RS_Send_Clsfc}, #{item.RS_Remark}
		)
		</foreach>
		on duplicate key update
		RS_Qty = values(RS_Qty),
		RS_Sum = values(RS_Sum),
		RS_Not_Stocked = values(RS_Qty) - values(RS_Sum),
		RS_Send_Clsfc = values(RS_Send_Clsfc),
		RS_Remark = values(RS_Remark)
	</insert>
	
	<update id="requestSubUpdateDao">
		update RequestSub_tbl
		set
		RS_Sum = RS_Sum + #{OM_Qty},
		RS_Not_Stocked = RS_Not_Stocked - #{OM_Qty}
		where RS_RequestNo = #{OM_RequestNo}
		and RS_ItemCode = #{OM_ItemCode}
	</update>
	
	<delete id="requestSubDeleteDao" parameterType="java.util.List">
		delete from RequestSub_tbl
		where RS_RequestNo = #{requestNo}
		and RS_ItemCode in ( 
		<foreach collection="list" item="item" index="index" separator=",">
			#{item.RS_ItemCode}
		</foreach>
		)
	</delete>

</mapper>