<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.busience.material.dao.StockDao">
	<select id="StockSelectDao" resultType="com.busience.material.dto.StockDto">
		SELECT 
			A.S_itemCode, B.Product_Item_Name S_itemName,
		    B.Product_Info_STND_1 S_Item_Standard_1, B.Product_Info_STND_2 s_Item_Standard_2,
		    C.Child_TBL_Type S_item_Classfy_1_Name, D.Child_TBL_Type S_item_Classfy_2_Name,
		    A.S_Qty, A.S_WareHouse
		FROM Stock_tbl A
		inner join Product_Info_tbl B on A.S_itemCode = B.Product_Item_Code
		inner join DTL_TBL C on B.Product_Item_CLSFC_1 = C.Child_TBL_No
		inner join DTL_TBL D on B.Product_Item_CLSFC_2 = D.Child_TBL_No
		where A.S_itemCode like concat('%', #{itemCode}, '%')
		and A.S_WareHouse = (SELECT Child_TBL_No FROM DTL_TBL where New_TBL_Code = 10 and Child_TBL_Num = 1)
		<if test="Check == true">
			and A.S_Qty > 0
		</if>
				
	</select>
</mapper>