<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비지언스 MES</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bs_main.css}">
</head>
<body>
<div class="bs_limiter">
	<div class="bs_container">
		<div class="bs_wrap_login">
			<div class="bs_pic">
				<img th:src="@{/images/logo/companyLogo.png}">
			</div>
			<form method="post">
				<span class="bs_login_title"><strong> Member Login </strong></span>

				<div class="bs_wrap_input">
					<input class="bs_input" type="text" id="username" name="username" placeholder="id" autofocus>
					<span class="bs_symbol">
						<i class="fas fa-id-badge" aria-hidden="true"></i>
					</span>
				</div>

				<div class="bs_wrap_input">
					<input class="bs_input" type="password" id="password" name="password" placeholder="password">
					<span class="bs_symbol">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<div th:if="${param.error}">
					<pre style="color:red; text-align:center;" th:text="${errorMessage}"></pre>
				</div>
				
				<div class="bs_wrap_button">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<button type="submit" class="bs_button">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script th:src="@{/webjars/font-awesome/5.15.4/js/all.min.js}"></script>
</body>
</html>