<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>비지언스 MES</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bs_main.css}">
</head>
<body>
<div class="bs_limiter">
	<div class="bs_container">
		<div class="bs_wrap_login">
			<div>
				<span class="bs_login_title"><strong>Password Change</strong></span>

				<div class="bs_wrap_input"  th:with="member=${#authentication.principal.member}">
					<input class="bs_input" type="text" id="inputId" th:value='${member.User_Code}' readonly>
					<span class="bs_symbol">
						<i class="fas fa-id-badge" aria-hidden="true"></i>
					</span>
				</div>

				<div class="bs_wrap_input">
					<input class="bs_input" type="password" id="password" placeholder="변경할 비밀번호" autofocus>
					<span class="bs_symbol">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="bs_wrap_input">
					<input class="bs_input" type="password" id="passwordCheck" placeholder="변경할 비밀번호 확인">
					<span class="bs_symbol">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="bs_wrap_button">
					<button type="button" id="pwChangeBtn" class="bs_button">Password Change</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/font-awesome/5.15.4/js/all.min.js}"></script>
<script th:src="@{/js/pwChange.js}"></script>
</body>
</html>